<div class="container">
    <div class="row">
        <HAVI_app.Shared.Shared_layout.Logo_image />
        <div class="col-9 text-right">
            <button class="btn discard-button">Discard changes</button>
        </div>
    </div>
    <div class="row">
            <div class="col-2 form-header-item form-header-middle form-header-active">
                <p class="form-header-number">1</p>
                <p class="form-header-text">Measurements</p>
            </div>
        <!--
        <div class="col-2">
            <div class="form-header-item form-header-middle form-header-unfilled">
                <p class="form-header-number">2</p>
                <p class="form-header-text">Article info</p>
            </div>
        </div>
        <div class="col-2">
            <div class="form-header-item form-header-middle form-header-unfilled">
                <p class="form-header-number">3</p>
                <p class="form-header-text">Measurements</p>
            </div>
        </div>
        <div class="col-2">
            <div class="form-header-item form-header-middle form-header-unfilled">
                <p class="form-header-number">4</p>
                <p class="form-header-text">Shipment info</p>
            </div>
        </div>
        <div class="col-2">
            <div class="form-header-item form-header-middle form-header-unfilled">
                <p class="form-header-number">5</p>
                <p class="form-header-text">Price info</p>
            </div>
        </div>
        <div class="col-2">
            <div class="form-header-item form-header-end form-header-unfilled">
                <p class="form-header-number">6</p>
                <p class="form-header-text">Confirm details</p>
            </div>
        </div>-->
    </div>
</div>