@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<header>
    <div class="row">
        <div class="col-1"></div>
        <HAVI_app.Shared.Shared_layout.Logo_image />
        <div class="col-3"></div>

        <HAVI_app.Shared.Shared_layout.Profile_menu Username="supplier@info.com" OnProfileClickCallback="@NavigateToProfilePage" />

        @code {
            void NavigateToProfilePage()
            {
                NavigationManager.NavigateTo("/profile_supplier", true);
            }
        }

        <div class="col-1"></div>
    </div>

</header>
<div class="container">
    @Body
</div>

