@inherits LayoutComponentBase
<div class="col-12 purple-background">
    <div class="row justify-content-between">
        <div class="col-12 container vertical-center">
            <div class="row justify-content-center">
                <div class="white-box col-8 align-middle">
                    <header>
                        <HAVI_app.Shared.Shared_layout.Logo_image/>
                    </header>
                    <div class="container">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
