@inherits LayoutComponentBase

<div class="purple-background ">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
            <a class="navbar-brand" href="#">
                <img alt="HAVI logo" src="./images/HAVI-logo.png" width="230" />
            </a>
            <div class="text-right">
                <p>
                    Article informations can be changed during fill out
                </p>
            </div>
        </nav>
    </header>
    <div class="container">
        @Body
    </div>

</div>
<havi_app.Shared.Shared_layout.Footer/>