@page "/"
@namespace havi_app.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>havi_app</title>
    <base href="~/" />
    <link href="HAVI_app.styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="~/css/admin.css" rel="stylesheet" />
    <link href="~/css/buyer.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/supplier.css" rel="stylesheet" />
    <link href="~/css/shared_colors.css" rel="stylesheet" />
    <link href="~/css/shared_elements.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="https://www.havi.com/sites/all/themes/havi/favicons/favicon.png" />
    <script src="_content/BlazorTable/BlazorTable.min.js"></script>
</head>
<body>
    <script type="text/javascript">
        function saveAsFile(filename, bytesBase64) {

            if (navigator.msSaveBlob) {
                var data = window.atob(bytesBase64);
                var bytes = new Uint8Array(data.length);
                for (var i = 0; i < data.length; i++) {
                    bytes[i] = data.charCodeAt(i);
                }
                var blob = new Blob([bytes.buffer], { type: "application/octet-stream" });
                navigator.msSaveBlob(blob, filename);
            }
            else {
                var link = document.createElement('a');
                link.download = filename;
                link.href = "data:application/octet-stream;base64," + bytesBase64;
                document.body.appendChild(link); // Needed for Firefox
                link.click();
                document.body.removeChild(link);
            }
        }
    </script>
    <app>
        <component type="typeof(HAVI_app.App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap-4.4.1.js"></script>
</body>
</html> 
