@inherits LayoutComponentBase
<div class="row">
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.Logo_image/>
    </div>

    <div class="col-6">

        <NavLink class="nav-link button-overview" href="overview_admin">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>

        <NavLink class="nav-link button-overview" href="article_view">
            <span class="oi oi-home" aria-hidden="true"></span> Orders
        </NavLink>

        <NavLink class="nav-link button-overview" href="user_view">
            <span class="oi oi-home" aria-hidden="true"></span> Users
        </NavLink>

        <NavLink class="nav-link button-overview" href="country_view">
            <span class="oi oi-home" aria-hidden="true"></span> Countries
        </NavLink>

        <NavLink class="nav-link button-overview" href="profile_admin">
            <span class="oi oi-home" aria-hidden="true"></span> Profile
        </NavLink>

        <NavLink class="nav-link button-overview-logout" href="/">
            <span class="oi oi-home" aria-hidden="true"></span> Log ud
        </NavLink>

    </div>

</div>
<div class="gap-overview">

</div>


<div class="container">
    @Body
</div>