@inherits LayoutComponentBase
    <div class="row">
        <div class="col-6">
            <HAVI_app.Shared.Shared_layout.Logo_image/>
        </div>

        <div class="col-6">
            <a class="button-overview" href="/overview_admin">Home</a>
            <a class="button-overview" href="/article_view">Orders</a>
            <a class="button-overview" href="/user_view">Users</a>
            <a class="button-overview" href="/country_view">Countries</a>
            <a class="button-overview" href="/profile_admin">Profile</a>
        </div>

    </div>
    <br>
    <br>

    @Body