@inherits LayoutComponentBase

    <div class="container">
        <div class="row">
            <HAVI_app.Shared.Shared_layout.Logo_image />
            <div class="col-1"></div>
            <div class="col-8">
                <NavLink class="nav-link button-overview-logout" href="/">
                    Logout
                </NavLink>
                <NavLink class="nav-link button-overview" href="profile_admin">
                    Profile
                </NavLink>
                <NavLink class="nav-link button-overview" href="country_view">
                    Countries
                </NavLink>
                <NavLink class="nav-link button-overview" href="user_view">
                    Users
                </NavLink>
                <NavLink class="nav-link button-overview" href="article_view">
                    Article info
                </NavLink>
                <NavLink class="nav-link button-overview" href="overview_admin">
                    Home
                </NavLink>

            </div>

        </div>
        <div class="gap-overview">

        </div>
    </div>

    <div class="container">
        @Body
    </div>