@inherits LayoutComponentBase
    <div class="row">
        <div class="col-6">
            <HAVI_app.Shared.Shared_layout.Logo_image/>
        </div>

        <div class="col-6">

            <NavLink class="button-overview" href="overview_admin">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>

            <NavLink class="button-overview" href="article_view">
                <span class="oi oi-home" aria-hidden="true"></span> Orders
            </NavLink>

            <NavLink class="button-overview" href="user_view">
                <span class="oi oi-home" aria-hidden="true"></span> Users
            </NavLink>

            <NavLink class="button-overview" href="country_view">
                <span class="oi oi-home" aria-hidden="true"></span> Countries
            </NavLink>

            <NavLink class="button-overview" href="profile_admin">
                <span class="oi oi-home" aria-hidden="true"></span> Profile
            </NavLink>

        </div>

    </div>
    <br>
    <br>

    @Body