@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@attribute [Authorize(Roles = "admin")]

<div class="container">
    @Body
</div>