@layout HAVI_app.Shared.Supplier_layout.Form_layout
@page "/article_info_form"

<HAVI_app.Shared.Supplier_layout.Form_header SupplierState="filled" ArticleState="active" />


    <div class="row justify-content-center">
        <div class="col-10">
            <h3>Article information:</h3>
            <p class="form-header-supplier">Fill out information regarding the article:</p>
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-9">
            <form>
                <table class="table">

                    <tr>
                        <td>
                            <label for="article_name" class="required">Article name:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="a_name" required @articleName>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the name of the article.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="sales_unit" class="required">Salesunit @salesUnit:</label>
                        </td>
                        <td>
                            <select class="form-control" name="salesunit">
                                <option disabled selected>-- select an option --</option>
                                <option>Ark // 225</option>
                                <option>Bag in box // 204</option>
                                <option>Bakke // 374</option>
                            </select>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the unit in which the article is delivered.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="article_pr_salesunit" class="required">Article pr. salesunit:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="salesunit_quantity" @articlePrSalesUnit required>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter how many articles are delivered pr. unit. Must be a whole number.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="supplier_article_nn" class="required">Supplier article number/name:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="article_number_name" required @supplierArticleNumber>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter your own reference number.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="GTIN" class="required">GTIN number:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="GTIN" required @gtinNumber>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter 14 characters, if less than 14, place 0´s infront.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="Shelflife" class="required">Shellife:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="Shelflife" required @shelflife>
                        </td>
                        <td>
                            <label class="center-for-units" for="Shelflife">days</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter expiration time for the article in days.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="Min_shelflife" class="required">Min. Shelflife at HAVI:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="Min_shelflife" required @shelflifeAtHavi>
                        </td>
                        <td>
                            <label class="center-for-units" for="Min_shelflife">days</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the least amount of days that HAVI should have the article.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="Organic_article" class="required @organicLife">Organic article?</label>
                        </td>

                        <td>
                            <div class="text-center">
                                <input type="radio" name="organic" id="yes" value="yes">
                                <label for="yes">Yes</label>
                                &nbsp;
                                <input type="radio" id="no" name="organic">
                                <label for="no">No</label>
                            </div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter whether the article is organic or not.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>


                </table>
                <div class="row justify-content-center">
                    <div class="text-right col-6">
                        <NavLink class="nav-link" href="/supplier_info_form"><button class="btn cancel-button button-size">Back</button></NavLink>
                    </div>
                    <div class="text-left col-6">
                        <NavLink class="nav-link" href="/measurement_info_form"><button class="btn green-button button-size">Next</button></NavLink>
                    </div>
                </div>
            </form>
        </div>
    </div>

@code{
    public string articlName = "";
    public string salesUnit = "";
    public int articlePrSalesUnit = 0;
    public string SupplierArticleNumber = "";
    public int gtinNumber = "";
    public int shelflife = 0;
    public int shelflifeAtHavi = 0;
    public string organicLife = "";
    


}