@layout HAVI_app.Shared.Supplier_layout.Form_layout
@page "/confirm_details/{values}"

<HAVI_app.Shared.Supplier_layout.Form_header SupplierState="filled" ArticleState="filled" MeasurementState="filled" ShipmentState="filled" PriceState="filled" ConfirmState="active" />

<div class="col-12">
    <h1>Confirm information:</h1>
    <p>Please confirm your details regarding the article</p>

    <div class="justify-content-center row">
        <div class="col-6">
            <form>

                <hr />
                <h3>Supplier information:</h3>

                <table class="table">
                    <tr>
                        <td>
                            <label for="company_name" class="required">Company name:</label>
                        </td>
                        <td>
                            <input type="text" value="@test.hund" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="company_location" class="required">Company location:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="email" class="required">Email:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="pallet_exchange" class="required">Pallet exchange</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="freight_responsibility" class="required">Freight responsibility</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="special_info" class="required">Special information regarding the article or cooperation?</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="transport" class="required">Are you in charge of booking transport?</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="dangerous" class="required">Is the article classified as dangerous good (ADR)?</label>
                        </td>
                    </tr>
                </table>


                <hr />
                <h3>Article information</h3>
                <table class="table">
                    <tr>
                        <td>
                            <label for="article_name" class="required">Article name:</label>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="sales_unit" class="required">Salesunit:</label>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="article_pr_salesunit" class="required">Article pr. salesunit:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="supplier_article_nn" class="required">Supplier article number/name:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="GTIN" class="required">GTIN number:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="Shelflife" class="required">Shelife:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="Min_shelflife" class="required">Min. Shelflife at HAVI:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="Organic_article" class="required">Organic article?</label>
                        </td>
                    </tr>
                </table>

                <hr />
                <h3>Measurement information</h3>

                <table class="table">
                    <tr>
                        <td>
                            <label for="length" class="required">Length pr. salesunit:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="width" class="required">Width pr. salesunit:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="height" class="required">Height pr. salesunit:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="net_weight" class="required">Net weight pr. salesunit:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="gross_weight" class="required">Gross weight pr. salesunit:</label>
                        </td>
                    </tr>
                </table>

                <hr />
                <h3>Shipment information</h3>

                <table class="table">
                    <tr>
                        <td>
                            <label for="carton_pr_pallet" class="required">Cartons pr. pallet:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="carton_pr_layer" class="required">Cartons pr. layer:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="country_origin" class="required">Country of origin:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="imported_from" class="required">Imported from:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="toll_tarrif_no" class="required">Toll-tarrif no:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="minimum_order_quantity" class="required">Minimum order quantity:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="temprature_during_transportation" class="required">Temprature during transportation:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="temprature_storage" class="required">Storage temprature requirements:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="lead_time" class="required">Lead-time:</label>
                        </td>
                    </tr>
                </table>

                <hr />
                <h3>Price information information</h3>

                <table class="table">
                    <tr>
                        <td>
                            <label for="set_currency" class="required">Set currency:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="purchase_price" class="required">Purchase price:</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="other_cost" class="required">Other cost regarding article?</label>
                        </td>
                    </tr>
                </table>
                <hr />

                <div class="row justify-content-center">
                    <div class="text-right col-6">
                        <NavLink class="nav-link" href="/price_info_form"><button class="btn cancel-button">Back</button></NavLink>
                    </div>
                    <div class="text-left col-6">
                        <NavLink class="nav-link" href="/submission_accepted"><button class="btn green-button">Submit</button></NavLink>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@code
{
    @*[Parameter]
    public string values { get; set; }*@

[Parameter]
public Test values { get; set; }

public class Test
{
    public int kat { get; set; }
    public int hund { get; set; }
    public int and { get; set; }
}

public Test test;

protected override void OnParametersSet()
{
    //the param will be set now
    test = values; 
}
    }
