@layout HAVI_app.Shared.Supplier_layout.Form_layout
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@page "/confirm_details"

<HAVI_app.Shared.Supplier_layout.Form_header SupplierState="filled" ArticleState="filled" MeasurementState="filled" ShipmentState="filled" PriceState="filled" ConfirmState="active" />

<div class="row justify-content-center">
    <div class="col-10">
        <h3>Confirm information:</h3>
        <p class="form-header-supplier">Please confirm your details regarding the article</p>
    </div>
</div>




<div class="row justify-content-center">
    <div class="col-9">
        <h4 class="information-headings first-heading"> Supplier Information:</h4>
    </div>
</div>
<div class="row justify-content-center ">
    <div class="col-9">
        @*<fieldset disabled="disabled">*@
            <form>
                <table class="table">

                    <!-- ############## Supplier Information ############## -->
                    <tr>
                        <td colspan="3">
                            <label for="company_name" class="required">Company name:</label>
                        </td>
                        <td colspan="3">
                            <input type="text" class="form-control" name="company_name" required value="Hello & Co." disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <label for="company_location" class="required">Company location:</label>
                        </td>
                        <td colspan="3">
                            <input type="text" class="form-control" name="company_location" required value="Denmark" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <label for="email" class="required">Email:</label>
                        </td>
                        <td colspan="4">
                            <input type="text" class="form-control" name="email" required value="HelloCompany@@mail.com" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="pallet_exchange" class="required" value="">Pallet exchange</label>
                        </td>
                        <td colspan="5">
                            <div class="text-center">
                                <input type="radio" name="pallet_exchange" id="yes" value="yes" checked="checked" disabled>
                                <label for="yes">Yes</label>
                                &nbsp;
                                <input type="radio" id="no" name="pallet_exchange" disabled>
                                <label for="no">No</label>
                            </div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="freight_responsibility" class="required" value="">Freight responsibility</label>
                        </td>
                        <td colspan="5">
                            <div class="text-center">
                                <input type="radio" name="freight_responsibility" id="CIP" value="CIP" checked="checked" disabled>
                                <label for="CIP">CIP</label>
                                &nbsp;
                                <input type="radio" id="EXW" name="freight_responsibility" disabled>
                                <label for="EXW">EXW</label>
                            </div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="6">
                            <label for="special_info" class="required">Special information regarding the article or cooperation?</label>
                            <textarea class="form-control" name="special_info" required value="" disabled>Absolutely none</textarea>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="transport" class="required" value="">Are you in charge of booking transport?</label>
                        </td>

                        <td colspan="5">
                            <div class="text-center">
                                <input type="radio" name="transport" id="yes" value="yes" data-toggle="collapse" data-target="#hideTransit:not(.show)" aria-expanded="false" aria-controls="hideTransit" checked="checked" disabled>
                                <label for="yes">Yes</label>
                                &nbsp;
                                <input type="radio" id="no" value="no" name="transport" data-toggle="collapse" data-target="#hideTransit.show" aria-expanded="false" aria-controls="hideTransit" disabled>
                                <label for="no">No</label>
                            </div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr class="collapse" id="hideTransit">
                        <td>
                            <label for="class">Transit Time:</label>
                        </td>
                        <td colspan="5">
                            <input type="number" class="form-control" id="class" value="10" required disabled>
                        </td>
                        <td>
                            <label for="class" class="labels">days</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="dangerous" class="required" value="">Is the article classified as dangerous good (ADR)?</label>
                        </td>
                        <td colspan="5">
                            <div class="text-center">
                                <input type="radio" name="dangerous" id="yes" value="yes" data-toggle="collapse" data-target="#hideDanger:not(.show)" aria-expanded="false" aria-controls="hideDanger" checked="checked" disabled>
                                <label for="yes">Yes</label>
                                &nbsp;
                                <input type="radio" id="no" value="no" name="dangerous" data-toggle="collapse" data-target="#hideDanger.show" aria-expanded="false" aria-controls="hideDanger" disabled />
                                <label for="no">No</label>
                            </div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr class="collapse" id="hideDanger">
                        <td>
                            <label for="class"> Class </label>
                        </td>
                        <td colspan="5">
                            <input type="text" class="form-control" id="class" value="" required disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr class="collapse" id="hideDanger">
                        <td colspan="3">
                            <label for="classificationCode">Classification code</label>
                        </td>
                        <td colspan="3">
                            <input type="number" class="form-control" id="classificationCode" value="1293871293" required disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- ############## Article Information ############## -->

                    <tr>
                        <td colspan="7">
                            <div class="row justify-content-right">
                                <div class="col-9">
                                    <h4 class="information-headings"> Article Information:</h4>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <label for="article_name" class="required">Article name:</label>
                        </td>
                        <td colspan="4">
                            <input type="text" class="form-control" id="a_name" required value="Peanuts" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <label for="sales_unit" class="required">Salesunit</label>
                        </td>
                        <td colspan="4">
                            <input type="text" class="form-control" id="sales_unit" required value="Bakke // 374" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <label for="article_pr_salesunit" class="required">Article pr. salesunit:</label>
                        </td>
                        <td colspan="3">
                            <input type="number" class="form-control" id="salesunit_quantity" value="123" required disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <label for="supplier_article_nn" class="required">Supplier article number/name:</label>
                        </td>
                        <td colspan="4">
                            <input type="number" class="form-control" id="article_number_name" required value="12312442123" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <label for="GTIN" class="required">GTIN number:</label>
                        </td>
                        <td colspan="4">
                            <input type="number" class="form-control" id="GTIN" required value="12312312412312" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <label for="Shelflife" class="required">Shellife:</label>
                        </td>
                        <td colspan="2">
                            <input type="number" class="form-control" id="Shelflife" required value="2" disabled>
                        </td>
                        <td>
                            <label class="center-for-units" for="Shelflife">days</label>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <label for="Min_shelflife" class="required">Min. Shelflife at HAVI:</label>
                        </td>
                        <td colspan="2">
                            <input type="number" class="form-control" id="Min_shelflife" required value="12" disabled>
                        </td>
                        <td>
                            <label class="center-for-units" for="Min_shelflife">days</label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="organic_article" class="required" value="">Organic article?</label>
                        </td>

                        <td colspan="5">
                            <div class="text-center">
                                <input type="radio" name="organic" id="yes" value="yes" disabled>
                                <label for="yes">Yes</label>
                                &nbsp;
                                <input type="radio" id="no" name="organic" checked="checked" disabled>
                                <label for="no">No</label>
                            </div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- ############## Measurement Information ############## -->
                    <tr>
                        <td colspan="7">
                            <div class="row justify-content-right">
                                <div class="col-9">
                                    <h4 class="information-headings"> Measurement Information:</h4>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <label for="length" class="required">Length pr. salesunit:</label>
                        </td>
                        <td colspan="3">
                            <input type="number" class="form-control" id="Length" required value="3" disabled>
                        </td>
                        <td>
                            <label class="center-for-units" for="length">cm</label>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <label for="width" class="required">Width pr. salesunit:</label>
                        </td>
                        <td colspan="3">
                            <input type="number" class="form-control" id="width" required value="12" disabled>
                        </td>
                        <td>
                            <label class="center-for-units" for="width">cm</label>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <label for="height" class="required">Height pr. salesunit:</label>
                        </td>
                        <td colspan="3">
                            <input type="number" class="form-control" id="height" required value="10" disabled>
                        </td>
                        <td>
                            <label class="center-for-units" for="height">cm</label>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <label for="net_weight" class="required">Net weight pr. salesunit:</label>
                        </td>
                        <td colspan="3">
                            <input type="number" class="form-control" id="net_weight" required value="12" disabled>
                        </td>
                        <td>
                            <label class="center-for-units" for="net_weight">kg</label>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <label for="gross_weight" class="required">Gross weight pr. salesunit:</label>
                        </td>
                        <td colspan="3">
                            <input type="number" class="form-control" id="gross_weight" required value="113" disabled>
                        </td>
                        <td>
                            <label class="center-for-units" for="gross_weight">kg</label>
                        </td>
                    </tr>


                    <!-- ############## Shipment Information: ############## -->


                    <tr>
                        <td colspan="7">
                            <div class="row justify-content-right">
                                <div class="col-9">
                                    <h4 class="information-headings"> Shipment Information:</h4>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="carton_pr_pallet" class="required">Cartons pr. pallet:</label>
                        </td>
                        <td colspan="5">
                            <input type="number" class="form-control" id="carton_pr_pallet" required value="1" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="carton_pr_layer" class="required">Cartons pr. layer:</label>
                        </td>
                        <td colspan="5">
                            <input type="number" class="form-control" required value="1" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <label for="country_origin" class="required">Country of origin:</label>
                        </td>
                        <td colspan="5">
                            <input type="text" class="form-control" required value="Denmark" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="imported_from" class="required">Imported from:</label>
                        </td>
                        <td colspan="5">
                            <input type="text" class="form-control" required value="Denmark" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="toll_tarrif_no" class="required">Toll-tarrif no:</label>
                        </td>
                        <td colspan="5">
                            <input type="number" class="form-control" id="toll_tarrif_no" required value="2" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="minimum_order_quantity" class="required">Minimum order quantity:</label>
                        </td>
                        <td colspan="5">
                            <input type="number" class="form-control" id="minimum_order_quantity" required value="10" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="text-left">
                                <label for="temprature_during_transportation" class="required">Temprature during transportation:</label>
                            </div>
                        </td>
                        <td>
                            <div class="text-left">
                                <label class="center-for-units" for="min">Min:</label>
                            </div>
                        </td>
                        <td>
                            <div class="text-left">
                                <input type="number" class="form-control" id="min" required value="2" disabled>
                            </div>
                        </td>
                        <td>
                            <div class="text-left">
                                <label class="center-for-units" for="degrees">&#8451;</label>
                            </div>
                        </td>
                        <td>
                            <div class="text-left">
                                <label class="center-for-units" for="max">Max:</label>
                            </div>
                        </td>
                        <td>
                            <div class="text-left">
                                <input type="number" class="form-control" id="max" required value="4" disabled>
                            </div>
                        </td>
                        <td>
                            <div class="text-left">
                                <label class="center-for-units" for="degrees">&#8451;</label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="temprature_storage" class="required">Storage temprature requirements:</label>
                        </td>
                        <td>
                            <div class="text-left">
                                <label class="center-for-units" for="min">Min:</label>
                            </div>
                        </td>
                        <td>
                            <div class="text-left">
                                <input type="number" class="form-control" id="min" required value="5" disabled>
                            </div>
                        </td>
                        <td>
                            <div class="text-left">
                                <label class="center-for-units" for="degrees">&#8451;</label>
                            </div>
                        </td>
                        <td>
                            <div class="text-left">
                                <label class="center-for-units" for="max">Max:</label>
                            </div>
                        </td>
                        <td>
                            <div class="text-left">
                                <input type="number" class="form-control" id="max" required value="2" disabled>
                            </div>
                        </td>
                        <td>
                            <div class="text-left">
                                <label class="center-for-units" for="degrees">&#8451;</label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="lead_time" class="required">Lead-time:</label>
                        </td>
                        <td colspan="5">
                            <input type="number" class="form-control" id="lead_time" required value="5" disabled>
                        </td>
                        <td>
                            <div class="text-right">
                                <label class="center-for-units" for="lead_time">days</label>
                            </div>
                        </td>
                    </tr>


                    <!-- ############## Price Information: ############## -->

                    <tr>
                        <td colspan="7">
                            <div class="row justify-content-right">
                                <div class="col-9">
                                    <h4 class="information-headings"> Price Information:</h4>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="set_currency" class="required">Set currency:</label>
                        </td>
                        <td colspan="5">
                            <input type="text" class="form-control" id="purchase_price" required value="DKK" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="purchase_price" class="required">Purchase price:</label>
                        </td>
                        <td colspan="5">
                            <input type="number" class="form-control" id="purchase_price" required value="100" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="other_cost" class="required" value="">Other cost regarding article?</label>
                        </td>
                        <td colspan="5">
                            <div class="text-center">
                                <input type="radio" name="organic" id="yes" value="yes" data-toggle="collapse" data-target="#hideOrganic:not(.show)" aria-expanded="false" aria-controls="hideOrganic" checked="checked" disabled>
                                <label for="yes">Yes</label>
                                &nbsp;
                                <input type="radio" name="organic" id="no" value="no" data-toggle="collapse" data-target="#hideOrganic.show" aria-expanded="false" aria-controls="hideOrganic" disabled>
                                <label for="no">No</label>
                            </div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr class="collapse" id="hideOrganic">
                        <td>
                            <label for="select-afgift">Inform cost type:</label>
                        </td>

                        <td colspan="2">
                            <label for="amountInDKK">Total amount in DKK</label>
                        </td>
                        <td colspan="3">
                            <input type="number" class="form-control" id="amountInDKK" required value="" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr class="collapse" id="hideOrganic">
                        <td colspan="2">
                            <label for="totalAmount">Total amount in DKK</label>
                        </td>
                        <td colspan="3"></td>
                        <td>
                            <input type="text" disabled />
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="7">
                        </td>
                    </tr>

                </table>


                <div class="row justify-content-center">
                    <div class="text-right col-6">
                        <input type="submit" class="btn cancel-button button-size" value="Back" @onclick="GoBack" />
                    </div>
                    <div class="text-left col-6">
                        <input type="submit" class="btn green-button button-size" value="Submit" @onclick="Submit" />
                    </div>
                </div>
            </form>
        @*</fieldset>*@
    </div>
</div>

@code
{
    public void Submit()
    {
    NavigationManager.NavigateTo($"/submission_accepted", true);
    }

    public void GoBack()
    {
    NavigationManager.NavigateTo($"/price_info_form", true);
    }

}




@*@code
    {*@
@*[Parameter]
    public string values { get; set; }*@

@*[Parameter]
    public Test values { get; set; }

    public class Test
    {
        public int kat { get; set; }
        public int hund { get; set; }
        public int and { get; set; }
    }

    public Test test;

    protected override void OnParametersSet()
    {
        //the param will be set now
        test = values;
    }
     }*@
