@layout HAVI_app.Shared.Supplier_layout.Form_header
@page "/confirm_details"

<div class="col-12">
    <h1>Confirm information:</h1>
    <p>Please confirm your details regarding the article</p>

    <div class="justify-content-center row">
        <div class="col-6">
            <form>

                <hr />
                <h3>Supplier information:</h3>

                <table class="table">
                </table>

                <hr />
                <h3>Article information</h3>

                <table class="table">
                </table>

                <hr />
                <h3>Measurement information</h3>

                <table class="table">
                </table>

                <hr />
                <h3>Shipment information</h3>

                <table class="table">
                </table>

                <hr />
                <h3>Price information information</h3>

                <table class="table">
                </table>
                <hr />

                <div class="row justify-content-center">
                    <div class="text-right col-6">
                        <NavLink class="nav-link" href="/information_price"><button class="btn cancel-button">Back</button></NavLink>
                    </div>
                    <div class="text-left col-6">
                        <NavLink class="nav-link" href="/submission_accepted"><button class="btn green-button">Submit</button></NavLink>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>