@layout HAVI_app.Shared.Supplier_layout.Form_layout
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@page "/measurement_info_form"

<HAVI_app.Shared.Supplier_layout.Form_header SupplierState="filled" ArticleState="filled" MeasurementState="active" />

<div class="row justify-content-center">
    <div class="col-10">
        <h3>Measurement information:</h3>
        <p class="form-header-supplier">Fill out information regarding your package measurements</p>
    </div>
</div>

<div class="justify-content-center row">
    <div class="col-9">
        <form>
            <table class="table">

                <tr>
                    <td>
                        <label for="length" class="required">Length pr. salesunit:</label>
                    </td>
                    <td>
                        <input type="number" class="form-control" id="Length" required @lengthPrSalesunit>
                    </td>
                    <td>
                        <label class="center-for-units" for="length">cm</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            The length of your salesunit written with numbers.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="width" class="required">Width pr. salesunit:</label>
                    </td>
                    <td>
                        <input type="number" class="form-control" id="width" required value="@WidthPrSalesunit">
                    </td>
                    <td>
                        <label class="center-for-units" for="width">cm</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            The width of your salesunit written with numbers.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="height" class="required">Height pr. salesunit:</label>
                    </td>
                    <td>
                        <input type="number" class="form-control" id="height" required value="@HeightPrSalesunit">
                    </td>
                    <td>
                        <label class="center-for-units" for="height">cm</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            The height of your salesunit written with numbers.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="net_weight" class="required">Net weight pr. salesunit:</label>
                    </td>
                    <td>
                        <input type="number" class="form-control" id="net_weight" required value="@NetWeightPrSalesunit">
                    </td>
                    <td>
                        <label class="center-for-units" for="net_weight">kg</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            The weight without the packaging of the salesunit.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="gross_weight" class="required">Gross weight pr. salesunit:</label>
                    </td>
                    <td>
                        <input type="number" class="form-control" id="gross_weight" required value="@GrossWeightPrSalesunit">
                    </td>
                    <td>
                        <label class="center-for-units" for="gross_weight">kg</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            The weight with the packaging of the salesunit.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

            </table>
            <div class="row justify-content-center">
                <div class="text-right col-6">
                    <input type="submit" class="btn cancel-button button-size" value="Back" @onclick="OnPostBack" />
                </div>
                <div class="text-left col-6">
                    <input type="submit" class="btn green-button button-size" value="Next" @onclick="OnPostForward" />
                </div>
            </div>
        </form>
    </div>
</div>

@code {
    [Parameter]
    public double LengthPrSalesunit { get; set; }

    [Parameter]
    public double WidthPrSalesunit { get; set; }

    [Parameter]
    public double HeightPrSalesunit { get; set; }

    [Parameter]
    public double NetWeightPrSalesunit { get; set; }

    [Parameter]
    public double GrossWeightPrSalesunit { get; set; }
}

@code{
    public void OnPostForward()
    {
        NavigationManager.NavigateTo($"/shipment_info_form", true);
    }

    public void OnPostBack()
    {
        NavigationManager.NavigateTo($"/article_info_form", true);
    }
}
