@layout HAVI_app.Shared.Supplier_layout.Form_layout
@page "/shipment_info_form"

<HAVI_app.Shared.Supplier_layout.Form_header SupplierState="filled" ArticleState="filled" MeasurementState="filled" ShipmentState="active" />

<div class="col-12">
    <h1>Shipment information:</h1>
    <p>Fill out information regarding the shipment of the article</p>

    <div class="justify-content-center row">
        <div class="col-12">
            <form>
                <table class="table">

                    <tr>
                        <td>
                            <label for="carton_pr_pallet" class="required">Cartons pr. pallet:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="carton_pr_pallet" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the amount of carton units one pallet can have.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="carton_pr_layer" class="required">Cartons pr. layer:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="carton_pr_layer" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the amount of carton units pr. layer.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="country_origin" class="required">Country of origin:</label>
                        </td>
                        <td>
                            <select class="form-control" name="county_origin">
                                <option disabled selected>-- select an option --</option>
                                <option>Denmark</option>
                                <option>Sweden</option>
                                <option>China</option>
                            </select>
                            <!--<div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle">
                                    Pick something
                                </button>
                                <div class="dropdown-content dropdown-menu-lg-right">
                                    <button class="dropdown-item" type="button">France // FR // 001</button>
                                    <button class="dropdown-item" type="button">Denmark // DK // 008</button>
                                    <button class="dropdown-item" type="button">Sweden // SE // 030</button>
                                </div>
                            </div>-->
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Select where the article was manufactured.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="imported_from" class="required">Imported from:</label>
                        </td>
                        <td>
                            <select class="form-control" name="imported_from">
                                <option disabled selected>-- select an option --</option>
                                <option>Denmark</option>
                                <option>Sweden</option>
                                <option>China</option>
                            </select>
                            <!--<div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle">
                                    Pick something
                                </button>
                                <div class="dropdown-content dropdown-menu-lg-right">
                                    <button class="dropdown-item" type="button">France</button>
                                    <button class="dropdown-item" type="button">Denmark</button>
                                    <button class="dropdown-item" type="button">Sweden</button>
                                </div>
                            </div>-->
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Select where the product is shipped from.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="toll_tarrif_no" class="required">Toll-tarrif no:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="toll_tarrif_no" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                If you do not know what this is, click here:
                                https://skat.dk/skat.aspx?oid=2247456
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="minimum_order_quantity" class="required">Minimum order quantity:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="minimum_order_quantity" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter minimum amount of units to order.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>
                </table>

                <table class="table">

                    <tr>
                        <td>
                            <label for="temprature_during_transportation" class="required">Temprature during transportation:</label>
                        </td>
                        <td>
                            <label class="center-for-units" for="min">Min:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="min" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="degrees">&#8451;</label>
                        </td>
                        <td>
                            <label class="center-for-units" for="max">Max:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="max" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter minimum and maximum temprature during transport.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="temprature_storage" class="required">Storage temprature requirements:</label>
                        </td>
                        <td>
                            <label class="center-for-units" for="min">Min:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="min" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="degrees">&#8451;</label>
                        </td>
                        <td>
                            <label class="center-for-units" for="max">Max:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="max" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                ?
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>
                </table>

                <table class="table">
                    <tr>
                        <td>
                            <label for="lead_time" class="required">Lead-time:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="lead_time" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="lead_time">Days</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the amount of time in days from order initiation until it is delivered.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>
                </table>

                <div class="row justify-content-center">
                    <div class="text-right col-6">
                        <NavLink class="nav-link" href="/measurement_info_form"><button class="btn cancel-button">Back</button></NavLink>
                    </div>
                    <div class="text-left col-6">
                        <NavLink class="nav-link" href="/price_info_form"><button class="btn green-button">Next</button></NavLink>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>