@page "/submission_accepted"

    <havi_app.Shared.Shared_layout.Backgrounds.Green_background />


    <div class="row justify-content-between">
        <div class="col-12 container vertical-center">
            <div class="row justify-content-center">
                <div class="white-box-submit col-8 align-middle">
                    <header>
                        <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                            <a class="navbar-brand" href="#">
                                <img alt="HAVI logo" src="./images/HAVI-logo.png" width="230" />
                            </a>


                            <div class="text-right">
                            </div>
                        </nav>
                    </header>
                    <div class="container">

                        <h1 class="text-center submit-header-text" style="font-weight: bold"> Your data has been submitted. </h1>

                        <NavLink class="nav-link" href="/overview_supplier"><p class="text-center" style="font-weight: bold">Click to proceed!</p> </NavLink>

                    </div>
                </div>
            </div>
        </div>
    </div>
