@page "/information_supplier"


<div class="col-12">
    <h1>Supplier information:</h1>
    <p> Fill out information about your own company </p>

    <form>
        <div>
            <label for="name">Company name:</label><br>
        </div>
        <div>
            <input type="text" id="name" name="name"><br>
        </div>
    </form>


</div>



