@page "/country_view"
@layout HAVI_app.Shared.Admin_layout.Overview
<h3>Country overview</h3>
<br />
<div class="row">
    <div class="col-2">
        <input type="text" placeholder="Search..">
    </div>
    <div class="col-10">
        <NavLink class="nav-link" href="/create_country">
            <button class="btn button-options-overview">Create new country</button>
        </NavLink>
    </div>
</div>
<br />

<div class="row">
    <div class="col-12">
        <table class="table table-hover">


            <thead>
                <tr>
                    <th scope="col">Country</th>
                    <th scope="col">Code </th>
                    <th scope="col">Admin </th>
                </tr>
            </thead>


            <tbody>

                <tr>
                    <td>Denmark</td>
                    <td>DK</td>
                    <td>DKadmin</td>
                </tr>

                <tr>
                    <td>Sweden</td>
                    <td>SE</td>
                    <td>SEadmin</td>
                </tr>

                <tr>
                    <td>Norway</td>
                    <td>NO</td>
                    <td>NOadmin</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
@code {

}
