@page "/country_view"
@layout HAVI_app.Shared.Admin_layout.Overview
<br />
<div class="row overview-admin-header">
    <div class="col-8">
        <h3>Overview of countries</h3>
    </div>
    <div class="col-4">
        <NavLink class="nav-link" href="/create_country">
            <button class="btn button-options-overview">Create new country</button>
        </NavLink>
    </div>
</div>

    <div class="row">
        <div class="col-12">
            <HAVI_app.Shared.Admin_layout.Country_table_admin/>
        </div>
    </div>
    @code {

    }
