@page "/create_country"
@inject NavigationManager NavigationManager

<HAVI_app.Shared.Shared_layout.Backgrounds.Green_background />
<div class="container">
    <div class="row">
        <div class="col-12 form-layout">
            <div>
                <HAVI_app.Shared.Shared_layout.Logo_image />
                <h3>Create country:</h3>
            </div>
                <form>
                    <table>
                        <tr>
                            <td ><label for="country">Country:</label></td>
                            <td > <input type="text" name="country" /> </td>
                        </tr>
                        <tr>
                            <td ><label for="country-code">Country code:</label> </td>
                            <td > <input type="text" name="country-code" /></td>
                        </tr>
                        <tr>
                            <td colspan="4">Customers (vailed for customer field): </td>
                        </tr>
                        @for (int i = 1; i <= NumberOfCustomers; i++)
                        {

                            <tr>
                                <td >
                                    <label for="customer-@i">Input customer name and code:</label>
                                </td>

                                <td >
                                    <input type="text" name="customer-@i" />
                                </td>
                                @if (i == NumberOfCustomers)
                                {
                                    <td  @onclick="AddCustomer"> &#10133; </td>
                                    @if (NumberOfCustomers != 1)
                                    {
                                        <td  @onclick="RemoveCustomer"> &#10134;</td>
                                    }
                                }
                            </tr>
                        }
                        <tr>
                            <td colspan="4">Company codes: </td>
                        </tr>
                        @for (int i = 1; i <= NumberOfCodes; i++)
                        {

                            <tr>
                                <td >
                                    <label for="code-@i">Input company code:</label>
                                </td>

                                <td >
                                    <input type="text" name="code-@i" />
                                </td>
                                @if (i == NumberOfCodes)
                                {
                                    <td  @onclick="AddCode"> &#10133; </td>
                                    @if (NumberOfCodes != 1)
                                    {
                                        <td  @onclick="RemoveCode"> &#10134;</td>
                                    }
                                }
                            </tr>
                        }

                        <tr>
                            <td colspan="4">Supplier delivery units: </td>
                        </tr>
                        @for (int i = 1; i <= NumberOfUnits; i++)
                        {

                            <tr>
                                <td >
                                    <label for="unit-@i">Input supplier delivery unit:</label>
                                </td>

                                <td >
                                    <input type="text" name="unit-@i" />
                                </td>
                                @if (i == NumberOfUnits)
                                {
                                    <td  @onclick="AddUnit"> &#10133; </td>
                                    @if (NumberOfUnits != 1)
                                    {
                                        <td  @onclick="RemoveUnit"> &#10134;</td>
                                    }
                                }
                            </tr>
                        }
                        <tr>
                            <td colspan="4">ILOS orderpickgroups: </td>
                        </tr>
                        @for (int i = 1; i <= NumberOfOrders; i++)
                        {

                            <tr>
                                <td >
                                    <label for="order-@i">Input orderpickgroup:</label>
                                </td>

                                <td >
                                    <input type="text" name="order-@i" />
                                </td>
                                @if (i == NumberOfOrders)
                                {
                                    <td  @onclick="AddOrder"> &#10133; </td>
                                    @if (NumberOfOrders != 1)
                                    {
                                        <td  @onclick="RemoveOrder"> &#10134;</td>
                                    }
                                }
                            </tr>
                        }
                        <tr>
                            <td colspan="4">ILOS categories/accounts: </td>
                        </tr>
                        @for (int i = 1; i <= NumberOfCat; i++)
                        {

                            <tr>
                                <td >
                                    <label for="cat-@i">Input category or account:</label>
                                </td>

                                <td >
                                    <input type="text" name="cat-@i" />
                                </td>
                                @if (i == NumberOfCat)
                                {
                                    <td  @onclick="AddCat"> &#10133; </td>
                                    @if (NumberOfCat != 1)
                                    {
                                        <td  @onclick="RemoveCat"> &#10134;</td>
                                    }
                                }
                            </tr>
                        }
                        <tr>
                            <td colspan="4">VAT/TAX codes: </td>
                        </tr>
                        @for (int i = 1; i <= NumberOfTAX; i++)
                        {

                            <tr>
                                <td >
                                    <label for="tax-@i">Input VAT or TAX code:</label>
                                </td>

                                <td >
                                    <input type="text" name="tax-@i" />
                                </td>
                                @if (i == NumberOfTAX)
                                {
                                    <td  @onclick="AddTAX"> &#10133; </td>
                                    @if (NumberOfTAX != 1)
                                    {
                                        <td  @onclick="RemoveTAX"> &#10134;</td>
                                    }
                                }
                            </tr>
                        }
                        <tr>
                            <td colspan="4">Primary DC ILOS codes: </td>
                        </tr>
                        @for (int i = 1; i <= NumberOfPrim; i++)
                        {

                            <tr>
                                <td >
                                    <label for="prim-dc-@i">Input DC ILOS code:</label>
                                </td>

                                <td >
                                    <input type="text" name="prim-dc-@i" />
                                </td>
                                <td >
                                    <label for="prim-sap-@i">Input SAP Plant for code:</label>
                                </td>

                                <td >
                                    <input type="text" name="prim-sap-@i" />
                                </td>
                                @if (i == NumberOfPrim)
                                {
                                    <td  @onclick="AddPrim"> &#10133; </td>
                                    @if (NumberOfPrim != 1)
                                    {
                                        <td  @onclick="RemovePrim"> &#10134;</td>
                                    }
                                }
                            </tr>
                        }
                    </table>

                    <table class="country-buttons">
                        <tr>
                            <td>
                                <NavLink class="nav-link button-save" href="country_view">
                                    <button class="btn green-button" aria-hidden="true">Return to overview</button>
                                </NavLink>
                            </td>
                            <td> <input type="submit" value="Create" class="btn green-button" data-toggle="modal" data-target="#myModal" /></td>
                        </tr>
                    </table>
                </form>
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <h4 class="modal-title">New country created!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body">
                Country: Denmark <br />
                Country-code: DK <br />
            </div>


            <div class="modal-footer">
                <button class="btn green-button" data-dismiss="modal" @onclick="ReturnToOverview">Return to overview</button>
            </div>

        </div>
    </div>
</div>
@code{
    private void ReturnToOverview()
    {
        NavigationManager.NavigateTo("/country_view", true);
    }


    private int NumberOfCustomers = 1;

    private void AddCustomer()
    {
        NumberOfCustomers++;
    }

    private void RemoveCustomer()
    {
        NumberOfCustomers--;
    }

    private int NumberOfCodes = 1;

    private void AddCode()
    {
        NumberOfCodes++;
    }

    private void RemoveCode()
    {
        NumberOfCodes--;
    }

    private int NumberOfUnits = 1;

    private void AddUnit()
    {
        NumberOfUnits++;
    }

    private void RemoveUnit()
    {
        NumberOfUnits--;
    }

    private int NumberOfOrders = 1;

    private void AddOrder()
    {
        NumberOfOrders++;
    }

    private void RemoveOrder()
    {
        NumberOfOrders--;
    }

    private int NumberOfPrim = 1;

    private void AddPrim()
    {
        NumberOfPrim++;
    }

    private void RemovePrim()
    {
        NumberOfPrim--;
    }

    private int NumberOfTAX = 1;

    private void AddTAX()
    {
        NumberOfTAX++;
    }

    private void RemoveTAX()
    {
        NumberOfTAX--;
    }

    private int NumberOfCat = 1;

    private void AddCat()
    {
        NumberOfCat++;
    }

    private void RemoveCat()
    {
        NumberOfCat--;
    }
}
