@page "/edit_country"
@inject NavigationManager NavigationManager



<div class="card" style="width: 1100px; height: 900px">
    <div class="card-body">
        <div>
            <HAVI_app.Shared.Shared_layout.Logo_image />
            <h3 id="create-country">Edit country:</h3>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <button class="btn delete-button">Delete this country</button>
            </div>
        </div>

        <div class="info-country">
            <table>
                <tr>
                    <td>Choose country: </td>
                    <td> <form><input type="text" name="country" value="Sweden"/></form> </td>
                </tr>
                <tr>
                    <td>Choose country-code: </td>
                    <td> <form><input type="text" name="country-code" value="SE" /></form> </td>
                </tr>
                <tr>
                    <td>Choose customers: </td>
                    <td> <form><input type="text" name="customers" value="customer here" /></form> </td>
                </tr>
                <tr>
                    <td>Vailed for customer: </td>
                    <td> <form><input type="text" name="vailed-for" value="customer here"/></form> </td>
                </tr>
                <tr>
                    <td>Company code: </td>
                    <td> <form><input type="text" name="company-code" value="number"/></form> </td>
                </tr>
                <tr>
                    <td>Supplier delivery unit: </td>
                    <td> <form><input type="text" name="supp-deliv-unit" value="delivery stuff"/></form> </td>
                </tr>
                <tr>
                    <td>ILOS orderpickgroup: </td>
                    <td> <form><input type="text" name="ilos-opg" value="some number"/></form> </td>
                </tr>
                <tr>
                    <td>ILOS category/account: </td>
                    <td> <form><input type="text" name="ilos-ca" value="account123"/></form> </td>
                </tr>
                <tr>
                    <td>VAT/TAX code: </td>
                    <td> <form><input type="text" name="vattax" value="some number"/></form> </td>
                </tr>
                <tr>
                    <td>Primary DC ILOS code: </td>
                    <td> <form><input type="text" name="dcilos" value="some number"/></form> </td>
                </tr>
                <tr>
                    <td>GRIN: </td>
                    <td> <form><input type="text" name="grin" value="some number"/></form> </td>
                </tr>
                <tr>
                    <td>BOS: </td>
                    <td> <form><input type="text" name="bos" value="some number"/></form> </td>
                </tr>
                <tr>
                    <td>Register shelflife: </td>
                    <td> <form><input type="text" name="shelflife" value="Enter expiry"/></form> </td>
                </tr>

            </table>

            <table class="country-buttons">
                <tr>
                    <td>
                        <NavLink class="nav-link button-save" href="country_view">
                            <button class="btn green-button" aria-hidden="true">Return to overview</button>
                        </NavLink>
                    </td>
                    <td> <button type="button" class="btn green-button" data-toggle="modal" data-target="#myModal">Save information</button></td>
                </tr>
            </table>

            <div>
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">


                            <div class="modal-header">
                                <h4 class="modal-title">Information saved!</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>


                            <div class="modal-body">
                                The information has been successfully saved!
                            </div>


                            <div class="modal-footer">
                                <button class="btn green-button" data-dismiss="modal" @onclick="ReturnToOverview">Return to overview</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@code{
    private void ReturnToOverview()
    {
        NavigationManager.NavigateTo("/country_view", true);
    }
}
