@page "/create_purchaser1"
@layout HAVI_app.Shared.Admin_layout.Profile_admin

<div class="card" style="width: 1100px; height: 500px; ">
    <div class="card-body">
        <HAVI_app.Shared.Shared_layout.Logo_image/>
        <br><br>
        <h3 class="card-title">Create purchaser:</h3>
        <br />

        <div class="row justify-content-center">
            <div class="text-right col-4">
                <p style="font-weight: bolder">Enter username:</p>
            </div>
            <div class="text-left col-5">
                <input type="text" style="font-weight: bolder" id="username" name="username">
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="text-right col-4">
                <button class="btn discard-button">Generate password</button>
            </div>
            <div class="text-left col-5">
                <input type="text" id="username-text1" name="username" readonly="readonly"><br>
            </div>
        </div>
        <br /> <br />
        <div class="row justify-content-center">
            <div class="text-right col-6">
                <NavLink class="nav-link" href="overview_admin">
                    <button class="btn cancel-button">Cancel</button>
                </NavLink>
            </div>
            <div class="text-left col-6">
                <NavLink class="nav-link" href="#">
                    <button class="btn green-button">Save</button>
                </NavLink>
            </div>
        </div>
    </div>
</div>

@code {

}
@page "/create_purchaser"
