
@page "/Havi_bundles"

<div class="row form-content">
    <div class="col-12">
        <HAVI_app.Shared.Shared_layout.Logo_image />
        <h1>Bundles</h1>
        <p>Havi Bundle information.</p>
    </div>
</div>
<div class="justify-content-center row">
    <div class="col-10">
        <form>
            <table class="table">
                <tr>
                    <td>
                        <label for="Article" class="required">Article bundles</label>
                    </td>
                    <td>
                        <label for="Quantity" class="required">Quantity</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <select class="form-control" name="Articlebundle">
                            <option disabled selected>-- select an option --</option>
                            <option>Ark // 225</option>
                            <option>Bag in box // 204</option>
                            <option>Bakke // 374</option>
                        </select>
                        <!--<div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Pick something
                </button>
                <div class="dropdown-content dropdown-menu-lg-right">
                    <button class="dropdown-item" type="button">Ark // 225</button>
                    <button class="dropdown-item" type="button">Bag in box // 204</button>
                    <button class="dropdown-item" type="button">Bakke // 374</button>
                </div>
            </div>-->
                    </td>
                    <td>
                        <input type="number" class="form-control" id="Quantity" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <select class="form-control" name="Articlebundle1">
                            <option disabled selected>-- select an option --</option>
                            <option>Ark // 225</option>
                            <option>Bag in box // 204</option>
                            <option>Bakke // 374</option>
                        </select>
                        <!--<div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Pick something
                </button>
                <div class="dropdown-content dropdown-menu-lg-right">
                    <button class="dropdown-item" type="button">Ark // 225</button>
                    <button class="dropdown-item" type="button">Bag in box // 204</button>
                    <button class="dropdown-item" type="button">Bakke // 374</button>
                </div>
            </div>-->
                    </td>
                    <td>
                        <input type="number" class="form-control" id="Quantity1" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <select class="form-control" name="Articlebundle2">
                            <option disabled selected>-- select an option --</option>
                            <option>Ark // 225</option>
                            <option>Bag in box // 204</option>
                            <option>Bakke // 374</option>
                        </select>
                        <!--<div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Pick something
                </button>
                <div class="dropdown-content dropdown-menu-lg-right">
                    <button class="dropdown-item" type="button">Ark // 225</button>
                    <button class="dropdown-item" type="button">Bag in box // 204</button>
                    <button class="dropdown-item" type="button">Bakke // 374</button>
                </div>
            </div>-->
                    </td>
                    <td>
                        <input type="number" class="form-control" id="Quantity2" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <select class="form-control" name="Articlebundle3">
                            <option disabled selected>-- select an option --</option>
                            <option>Ark // 225</option>
                            <option>Bag in box // 204</option>
                            <option>Bakke // 374</option>
                        </select>
                        <!--<div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Pick something
                </button>
                <div class="dropdown-content dropdown-menu-lg-right">
                    <button class="dropdown-item" type="button">Ark // 225</button>
                    <button class="dropdown-item" type="button">Bag in box // 204</button>
                    <button class="dropdown-item" type="button">Bakke // 374</button>
                </div>
            </div>-->
                    </td>
                    <td>
                        <input type="number" class="form-control" id="Quantity3" required>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
