<div class="col-6 havi-info-box">
<div class="row justify-content-right">
    <div class="col-11">
        <h4> Article Information:</h4>
    </div>
    <div class="col-1">
        @if (EditingFields)
        {
            <div class="save-button" @onclick="Saving"></div>
        }
        else
        {
            <div class="edit-button" @onclick="Editing"></div>
        }

    </div>
</div>
    <table class="table table-borderless">
        <tr>
            <td>
                <label for="article_name">Article name:</label>
            </td>
            <td colspan="2">
                <input type="text" class="form-control" id="a_name" value="Peanuts" disabled>
            </td>
        </tr>

        <tr>
            <td>
                <label for="sales_unit">Salesunit:</label>
            </td>
            <td colspan="2">
                <input type="text" class="form-control" id="sales_unit" value="Bakke // 374" disabled>
            </td>
        </tr>

        <tr>
            <td>
                <label for="article_pr_salesunit">Article per salesunit:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control" id="salesunit_quantity" value="123" disabled>
            </td>
        </tr>

        <tr>
            <td>
                <label for="supplier_article_nn">Supplier article number/name:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control" id="article_number_name" value="12312442123" disabled>
            </td>
        </tr>

        <tr>
            <td>
                <label for="GTIN">GTIN number:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control" id="GTIN" value="12312312412312" disabled>
            </td>
        </tr>

        <tr>
            <td>
                <label for="Shelflife">Shelflife:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control" id="Shelflife" value="2" disabled>
            </td>
            <td>
                <label class="center-for-units" for="Shelflife">days</label>
            </td>
        </tr>

        <tr>
            <td>
                <label for="Min_shelflife">Min. shelflife at HAVI:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control" id="Min_shelflife" value="12" disabled>
            </td>
            <td>
                <label class="center-for-units" for="Min_shelflife">days</label>
            </td>
        </tr>

        <tr>
            <td>
                <label for="organic_article" value="">Organic article?</label>
            </td>

            <td colspan="2">
                <div class="text-center">
                    <input type="radio" name="organic" id="yes" value="yes" disabled>
                    <label for="yes">Yes</label>
                    &nbsp;
                    <input type="radio" id="no" name="organic" checked="checked" disabled>
                    <label for="no">No</label>
                </div>
            </td>
        </tr>
    </table>
</div>

@code {

    private bool EditingFields = false;

    private void Editing()
    {
        EditingFields = true;
    }

    private void Saving()
    {
        EditingFields = false;
    }
}