@inherits SupplierInformation
<div class="col-12 havi-info-box">
    <div class="row justify-content-right">

        <div class="col-11">
            <h4> Supplier Information:</h4>
        </div>
        <div class="col-1">
            @if (EditingFields)
            {
                <div class="save-button" @onclick="Saving"></div>
            }
            else
            {
                <div class="edit-button" @onclick="Editing"></div>
            }

        </div>
    </div>
    @if (Article != null)
    {
        <table class="table table-borderless">
            <tr>
                <td>
                    <label for="company_name">Company name:</label>
                </td>
                <td colspan="2">
                    <input type="text" class="form-control" name="company_name" @bind="Article.ArticleInformation.CompanyName" disabled>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="company_location">Company location:</label>
                </td>
                <td colspan="2">
                    <input type="text" class="form-control" name="company_location" @bind="Article.ArticleInformation.CompanyLocation" disabled>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="email">Email:</label>
                </td>
                <td colspan="2">
                    <input type="text" class="form-control" name="email" @bind="Article.ArticleInformation.Email" disabled>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="pallet_exchange" value="">Pallet exchange</label>
                </td>
                <td colspan="2">
                    <div class="text-center">
                        @if (Article.ArticleInformation.PalletExchange == 1)
                        {
                            <input type="radio" name="pallet_exchange" id="yes" value="yes" checked disabled @onclick="() => PalletExchange(1)">
                            <label for="yes">Yes</label>
                            <input type="radio" id="no" name="pallet_exchange" disabled @onclick="() => PalletExchange(0)">
                            <label for="no">No</label>
                        }
                        else
                        {
                            <input type="radio" name="pallet_exchange" id="yes" value="yes" disabled @onclick="() => PalletExchange(1)">
                            <label for="yes">Yes</label>
                            <input type="radio" id="no" name="pallet_exchange" checked disabled @onclick="() => PalletExchange(0)">
                            <label for="no">No</label>
                        }

                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="freight_responsibility" value="">Freight responsibility</label>
                </td>
                <td colspan="2">
                    <input class="form-control" @bind="Article.ArticleInformation.FreightResponsibility" name="freight_responsibility" disabled />
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <label for="special_info">Special information regarding the article or cooperation?</label>
                    <textarea class="form-control" name="special_info" @bind="Article.ArticleInformation.SpecialInformation" disabled></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="transport" value="">Are you in charge of booking transport?</label>
                </td>

                <td colspan="2">
                    @if (Article.ArticleInformation.TransportBooking == 1)
                    {
                        <input type="radio" name="transport" id="yes" value="yes" checked disabled @onclick="() => BookingTransport(1)">
                        <label for="yes">Yes</label>
                        <input type="radio" id="no" name="transport" disabled @onclick="() => BookingTransport(0)">
                        <label for="no">No</label>
                    }
                    else
                    {
                        <input type="radio" name="transport" id="yes" value="yes" disabled @onclick="() => BookingTransport(1)">
                        <label for="yes">Yes</label>
                        <input type="radio" id="no" name="transport" checked disabled @onclick="() => BookingTransport(0)">
                        <label for="no">No</label>
                    }
                </td>
            </tr>
            @if (Article.ArticleInformation.TransportBooking == 1)
            {
                <tr>
                    <td>
                        <label for="class">Transit time:</label>
                    </td>
                    <td>
                        <input type="number" class="form-control" id="class" @bind="Article.ArticleInformation.TransitTime" disabled>
                    </td>
                    <td>
                        <label for="class" class="labels">days</label>
                    </td>
                </tr>
            }

            <tr>
                <td>
                    <label for="dangerous" value="">Is the article classified as dangerous goods (ADR)?</label>
                </td>
                <td colspan="2">
                    <div class="text-center">
                        @if (Article.ArticleInformation.DangerousGoods == 1)
                        {
                            <input type="radio" name="goods" id="yes" value="yes" checked disabled @onclick="() => Dangerous(1)">
                            <label for="yes">Yes</label>
                            <input type="radio" id="no" name="goods" disabled @onclick="() => Dangerous(0)">
                            <label for="no">No</label>
                        }
                        else
                        {
                            <input type="radio" name="goods" id="yes" value="yes" disabled @onclick="() => Dangerous(1)">
                            <label for="yes">Yes</label>
                            <input type="radio" id="no" name="goods" checked disabled @onclick="() => Dangerous(0)">
                            <label for="no">No</label>
                        }
                    </div>
                </td>
            </tr>
            @if (Article.ArticleInformation.DangerousGoods == 1)
            {
                <tr>
                    <td>
                        <label for="class">Class:</label>
                    </td>
                    <td colspan="2">
                        <input type="text" class="form-control" id="class" @bind="Article.ArticleInformation.Class" disabled>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="classificationCode">Classification code:</label>
                    </td>
                    <td colspan="2">
                        <input type="number" class="form-control" id="classificationCode" @bind="Article.ArticleInformation.ClassificationCode" disabled>
                    </td>
                </tr>
            }
        </table>}
</div>