/*###################################################################################################################*/
/* Farver til brug i dette projekt */
/*
    De bruges ved at skrive følgende:
    var(navnet på farven)
*/
:root {
    --blue: #006cb6;
    --dark-blue: #385072;
    --green: #5ece57;
    --dark-green: #26a570;
    --purple: #a54e8b;
    --dark-purple: #723861;
    --cyan: #00b2be;
    --dark-cyan: #008e98;
    --orange: #ff883c;
    --dark-orange: #CC6C30;
    --yellow: #e6b10e;
    --red: #de577b;
    --dark-gray: #686766;
    --gray: #a5a5a7;
    --black: #000;
    --background-white: #fdfdfd;
    --tab-white: #f2f2f2;
}
/*###################################################################################################################*/
.button-overview {
    background-color: var(--blue);
    border: 1px var(--dark-blue);
    color: white;
    padding: 20px 30px;
    text-align: center;
    font-size: 14px;
    float: left;
}
    .button-overview:hover {
        background-color: var(--dark-purple);
        color: white;
    }

.button-options-overview {
    background-color: var(--orange);
    border: 1px var(--dark-orange);
    border-radius: 5px;
    padding: 6px 12px;
    text-align: center;
    font-size: 14px;
    color: white;
    float: right;
}
    .button-options-overview:hover {
        background-color: var(--dark-orange);
        color: white;
    }

.buttons {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-save {
    background-color: #5ECE57;
    border: none;
    color: #FFFFFF;
    padding: 10px 40px;
}

.button-cancel {
    background-color: lightgray;
    border: none;
    color: gray;
    padding: 10px 35px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 50px;
}

.card-title {
    position: relative;
    left: 190px;
    font-weight: bolder;
}

.card-text1 {
    position: relative;
    text-align: center;
    font-weight: bolder;
    left: -50px;
}

.card-text2 {
    position: relative;
    text-align: center;
    font-weight: bolder;
    left: -70px;
}

.username-text {
    background-color: lightgray;
    right: 50px;
}

.username-text1 {
    right: 50px;
}

.drop-down {
    position: relative;
    text-align: center;
    font-weight: bolder;
    left: -50px;
}

.generate-pass {
    position: relative;
    text-align: center;
    font-weight: bolder;
    left: -70px;
}

.gap-overview {
    margin-top: 100px;
}

/*#########################################Country stuff##########################################################################*/


#create-country {
    position:relative;
    float: left;
    margin-left: 150px;
    top: 50px;
    font-weight: bold;
}

.info-country {
    position: relative;
    top: 125px;
    width: 100%;
    font-size: 18px;
    right: 50px
}

.country-buttons {
    position:relative;
    left: 400px;
    top: 50px;
}