/*###################################################################################################################*/
/* Farver til brug i dette projekt */
/*
    De bruges ved at skrive følgende:
    var(navnet på farven)
*/
:root {
    --blue: #006cb6;
    --dark-blue: #385072;
    --green: #5ece57;
    --dark-green: #26a570;
    --purple: #a54e8b;
    --dark-purple: #723861;
    --cyan: #00b2be;
    --dark-cyan: #008e98;
    --orange: #ff883c;
    --dark-orange: #CC6C30;
    --yellow: #e6b10e;
    --red: #de577b;
    --dark-gray: #686766;
    --gray: #a5a5a7;
    --black: #000;
    --background-white: #fdfdfd;
    --tab-white: #f2f2f2;
}
/*###################################################################################################################*/

/*######################################################################################################################*/
/* Basic layout */

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*######################################################################################################################*/
/* Colored table layout */

.blue-tabel-header {
    background: var(--blue);
    color: var(--background-white);
}

.purple-table-header {
    background: var(--purple);
    color: var(--background-white);
}

th {
    color: var(--background-white);
}

td, tr {
    color: var(--dark-blue);
}


/*######################################################################################################################*/
/* Up and down keys for table */

.filter-table {
    position: relative;
    height: 10px;
    width: 40px;
    bottom: 25px;
    text-align: center;
}

.up-table-arrow {
    -webkit-transform: rotate(-180deg);
    color: var(--dark-grey);
}

.down-table-arrow {
    color: var(--dark-grey);
}

    .up-table-arrow:hover {
        color: var(--green);
    }

    .down-table-arrow:hover {
        color: var(--green);
    }

/*
<th >
    <div class="filter-table" >
        <div class="down-table-arrow " > &#9650</div >
        <div class="up-table-arrow " > &#9650</div >
    </div >
</th >
    */

/*######################################################################################################################*/
/* Colored buttons layout */
.green-button {
    background: var(--green);
    color: var(--background-white);
}

    .green-button:hover {
        background: var(--dark-green);
        color: var(--background-white);
    }

.cancel-button {
    background: var(--gray);
    color: var(--background-white);
}

    .cancel-button:hover {
        background: var(--dark-gray);
        color: var(--background-white);
    }

.discard-button {
    background: var(--gray);
    color: var(--background-white);
}

.discard-button:hover {
    background: var(--red);
    color: var(--background-white);
}

.red-button {
    background-color: var(--red);
    color: white;
}

.red-button:hover {
    background-color: darkred;
    color: white;
}

.button-size {
    padding: 6px 20px;
}

/*######################################################################################################################*/
/* CSS dropdown button*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*######################################################################################################################*/
/* Colored background layout */

.purple-background {
    background: var(--purple);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.green-background {
    background: var(--green);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.blue-background {
    background: var(--cyan);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

/*######################################################################################################################*/
/* Form elements layout */

.required:before {
    content: "* ";
    color: #DE577B;
}

