/*######################################################################################################################*/
/* Header logo */
.logo {
    max-width: 300px;
}

/*######################################################################################################################*/
/* Questionmark and tooltip for help text */

.questionmark {
    text-align: center;
    border-radius: 20px;
    color: #fdfdfd;
    background-color: #686766;
    font-weight: 700;
    position: relative;
    height: 24px;
    width: 24px;
    padding: 1px;
}


/* Tooltip to the right of the questionmark */

.questionmark:hover {
    background-color: #385072;
}

.questionmark:hover .tooltip-right {
    visibility: visible;
    opacity: 1;
}


.questionmark .tooltip-right {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    width: 240px;
    height: 100px;
    top: -42px;
    left: 40px;
    visibility: hidden;
    background: #555;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: normal;
    font-size: smaller;
}

    .questionmark .tooltip-right::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #555 transparent transparent;
    }

/* Tooltip above the questionmark */


.questionmark:hover .tooltip-top {
    visibility: visible;
    opacity: 1;
}


.questionmark .tooltip-top {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    width: 288px;
    height: 110px;
    bottom: 150%;
    left: 50%;
    margin-left: -1135%;
    visibility: hidden;
    background: #555;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: normal;
    font-size: smaller;
}

    .questionmark .tooltip-top::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 98%;
        margin-left: -5%;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }



/*######################################################################################################################*/
/* Users profile menu layout */

.profile-header {
    padding-top: 10px;
    color: #ff883c;
    text-align: right;
}

.profile-menu {
    padding-top: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.profile-menu-header {
    width: 30px;
    height: 30px;
    background-color: none;
    background-image: url("../images/profile-user.png");
    background-size: 30px 30px;
    border: none;
}

.profile-menu-header:hover {
    background-image: url("../images/profile-user-dark.png");
}

.profile-menu-header:focus{
    border:none;
}

.profile-menu-header:active {
    border: none;
}


.profile-menu-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-menu-content a {
    border: thin solid #ff883c;
    color: #ff883c;
}

    .profile-menu-content a:hover {
        color: #fff;
        background-color: #ff883c;
    }

.profile-menu-header + .profile-menu-content:active, .profile-menu-header:focus + .profile-menu-content {
    display: block;
}

/*######################################################################################################################*/
/* Article information state layout */

.state {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 15px;
    width: 120px;
    text-align: center;
}

.submitted-state {
    background: #5ece57;
}

.completed-state {
    background: #00b2be;
}

.ready-state {
    background: #ff883c;
}

.error-state {
    background: #de577b;
}

.created-state {
    background: #a54e8b;
}


/*#########################################################################################################################################*/
/* Trashcan button and select field */

.trash-button {
    background-color: #de577b;
    background-image: url("../images/trash-can-closed.svg");
    width: inherit;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
}

    .trash-button:hover {
        background-color: #b14562;
        background-image: url("../images/trash-can-open.svg");
        background-size: 20px;
    }

.row-selection {
    font-size: small;
    color: #a5a5a7;
}

.hide-trash {
    display: none;
}

.show-trash {
    display: block;
}


/*#########################################################################################################################################*/
/* Layout for havi pages */

.edit-button {
    background-image: url("../images/edit.png");
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
}

.edit-button:hover {
    background-image: url("../images/edit_on_hover.png");
}

.save-button {
    background-image: url("../images/save.png");
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
}

.save-button {
    background-image: url("../images/save_on_hover.png");
}

.havi-info-box {
    border: solid thin #00b2be;
    border-radius: 10px;
    padding: 20px;
    outline: 5px;
}