
.space_navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.space-heading {
    padding-bottom: 25px;
}


.white-box {
    background-color: #fdfdfd;
    border-color: black;
    border-radius: 50px;
    border-style: solid;
    padding-bottom: 60px;
    color: #385072;
}

.white-box-submit {
    background-color: #fdfdfd;
    border-color: black;
    border-radius: 50px;
    border-style: solid;
    height: 500px;
    padding-bottom: 60px;
    color: #385072;
}

.submit-header-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

.table-font {
    color: #385072;
}

.buttons {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 97%
}


.save-password {
    background: #5ece57;
    color: white;
}

    .save-password:hover {
        background: #26A570;
        color: white;
    }

.close-password {
    color: #DE577B;
    opacity: 1;
}

    .close-password:hover {
        color: #686766;
    }
