@layout HAVI_app.Shared.Supplier_layout.Overview_layout
@inject NavigationManager NavigationManager
@page "/overview_supplier"

<div class="col-12">
    <div class="row">
        <div class="col-5">
            <h2>Welcome Hello and co.</h2>
        </div>
        <div class="col-2"></div>
        <div class="col-5 text-right">
            <a href="#" data-toggle="modal" data-target="#addArticle">
                <button class="btn dark-green-button">
                    Add article
                    <span class="plus-sign-for-button">&#10010</span>
                </button>
            </a>
        </div>
    </div>
</div>

<div class="row body-layout">
    <div class="col-12">
        <table class="table table-hover">
            <thead class="blue-tabel-header">
                <tr>
                    <th>
                        <input type="checkbox" name="product_element" />
                    </th>
                    <th>Article number</th>
                    <th>Article name</th>
                    <th>Vailed for customer </th>
                    <th>HAVI employee </th>
                    <th>Date created </th>
                    <th>State </th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < 5; i++)
                {

                <tr>
                    <td>
                        <input type="checkbox" name="product_element" />
                    </td>
                    <td @onclick="RowWasHit">1</td>
                    <td @onclick="RowWasHit">2</td>
                    <td @onclick="RowWasHit">3</td>
                    <td @onclick="RowWasHit">4</td>
                    <td @onclick="RowWasHit">5</td>
                    <td @onclick="RowWasHit">
                        <div class="created-state state">Created</div>
                    </td>
                </tr>

                }

            </tbody>
        </table>
    </div>
</div>

<!-- Form adding an article. Only appears when link is toggeled -->
<div class="modal fade" id="addArticle" tabindex="-1" role="dialog" aria-labelledby="addArticle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modal-addArticle">
            <div class="">
                <button type="button" class="close close-password" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Add article</h4>
                <form>
                    <div class="form-group">
                        <label for="selectCustomer">Vailed For Customer</label>
                        <select class="form-control" id="selectCustomer">
                            @for (int i = 0; i < 5; i++)
                            {
                                <option>@i</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="haviRecipent">Vailed For Customer</label>
                        <select class="form-control" id="haviRecipent">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </form>
                <div class="row justify-content-center">
                    <button type="button" class="save-password btn button-size" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>




@code{
    private void RowWasHit()
    {
    NavigationManager.NavigateTo("/supplier_info_form", true);
    }
}

<havi_app.Shared.Shared_layout.Footer />

