@layout HAVI_app.Shared.Supplier_layout.Overview_layout
@inherits OverviewSupplier
@page "/overview_supplier/{Id:int}"

<div class="col-12">
    <div class="row" id="overview-supplier-header">
        <div class="col-5">
            <h2>Welcome Hello and co.</h2>
        </div>
        <div class="col-2"></div>
        <div class="col-5 text-right">
            <a href="#" data-toggle="modal" data-target="#addArticle">
                <button class="btn dark-green-button">
                    Add article
                    <span class="plus-sign-for-button">&#10010</span>
                </button>
            </a>
        </div>
    </div>
</div>

<HAVI_app.Shared.Supplier_layout.Overview_table_supplier/>

<!-- Form adding an article. Only appears when link is toggeled -->
<div class="modal fade" id="addArticle" tabindex="-1" role="dialog" aria-labelledby="addArticle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modal-addArticle">
            <div class="">
                <button type="button" class="close close-password" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Add article</h4>
                <form>
                    <div class="form-group">
                        <label for="country">Pick country:</label>
                        <select class="form-control" name="country">
                            <option disabled selected>-- select an option --</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectCustomer">Valid For Customer</label>
                        <select class="form-control" id="selectCustomer">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i == 0)
                                {
                                    <option disabled selected>-- select an option --</option>
                                }
                                else
                                {
                                    <option>@i</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="haviRecipent">HAVI recipient</label>
                        <select class="form-control" id="haviRecipent">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i == 0)
                                {
                                    <option disabled selected>-- select an option --</option>
                                }
                                else
                                {
                                    <option>@i</option>
                                }
                            }
                        </select>
                    </div>
                </form>
                <div class="row justify-content-center">
                    <button type="button" class="save-password btn button-size" data-dismiss="modal" @onclick="NewArticleAdded">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
<havi_app.Shared.Shared_layout.Footer />