@inject NavigationManager NavigationManager
@inherits BaseProfile_supplier
@page "/profile_supplier/{supplierId:int}"

@layout HAVI_app.Shared.Supplier_layout.Profile_layout

<div class="row align-content-center">
    <div class="col-1"></div>
    <div class="col-10 white-box header">
        <div class="row">
            <HAVI_app.Shared.Shared_layout.Logo_image />
        </div>
        <div class="row heading-profile">
            <div class="col-12">
                <h4>Profile</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <form>
                    <table class="table table-font">
                        <tr>
                            <td>
                                <label for="email">Email:</label>
                            </td>
                            <td>
                                <input type="email" class="form-control" name="email" value="" required>
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="password">Password:</label>
                            </td>
                            <td class="text-right">
                                <a href="#" data-toggle="modal" data-target="#changePassword">Change password</a>
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="company_name">Company Name:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="company_name" value="@Supplier.CompanyName" required>
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="company_location" >Company's Location:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="company_location" value="@Supplier.CompanyLocation" required>
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="pallet_exchange" >Pallet exchange</label>
                            </td>
                            <td>
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-4">
                                                <input type="radio" name="pallet_exchange" value="yes" @PalletExchangeYes required>
                                                <label for="yes">Yes</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="radio" name="pallet_exchange" value="no" @PalletExchangeNo required>
                                                <label for="no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <HAVI_app.Shared.Shared_layout.Questionmark_right>
                                    Whether you would like to exchange pallets with HAVI upon delivering the article
                                </HAVI_app.Shared.Shared_layout.Questionmark_right>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="freight_responsibility" >Freight Responsibility</label>
                            </td>
                            <td>
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-4">
                                                <input type="radio" name="freight_responsibility" value="CIP" checked required>
                                                <label for="cip">CIP</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="radio" name="freight_responsibility" value="EXW" required>
                                                <label for="exw">EXW</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <HAVI_app.Shared.Shared_layout.Questionmark_right>
                                    With CIP you pay for the freight and insurance during transit. With EXW you are only required to ready the article for pick up
                                </HAVI_app.Shared.Shared_layout.Questionmark_right>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="text-right col-6">
                            <input type="submit" class="btn cancel-button button-size" value="Back" @onclick="BackToSupplierOverview">
                        </div>
                        <div class="text-left col-6">
                            <input type="submit" class="btn green-button button-size" value="Save" @onclick="BackToSupplierOverview">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Form for changing your password. Only appears when link is toggeled -->
<div class=" modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="">
                                        <button type="button" class="close close-password" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <table class="table-font table col-12">
                                                <tr>
                                                    <td class="">
                                                        <label for="current-password">Input current Password:</label>
                                                    </td>
                                                    <td class="">
                                                        <input type="password" class="form-control" name="current-password" required>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label for="new-password">Input new Password:</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="new-password" required>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label for="confirm-new-password">Confirm new password:</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="confirm-new-password" required>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                            </table>
                                        </form>
                                        <div class="row justify-content-center">
                                            <button type="button" class="save-password btn button-size" data-dismiss="modal">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

@code {
    private void BackToSupplierOverview()
    {
        NavigationManager.NavigateTo("/overview_supplier", true);
    }
}
