@inject NavigationManager NavigationManager

<div class="col-5 float-right">
    <div class="row">
        <div class="col-10 profile-header">
            Logged in as: @Username
        </div>
        <div class="col-2">
            <div class="profile-menu">
                <button class="btn profile-menu-header"></button>
                <div class="profile-menu-content">
                    <a href="#" class="dropdown-item" @onclick="OnProfileClickCallback">Profile</a>
                    <a href="#" class="dropdown-item" @onclick="LogoutSupplier">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnProfileClickCallback { get; set; }

    private void LogoutSupplier()
    {
        NavigationManager.NavigateTo("/", true);
    }
}
