@if (PageIndex == 0)
{
    <div class="row">
        <div class="col-6">
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Havi_only.Internal_info />
        </div>
        <div class="col-6">
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Supplier_information />
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Article_information />
        </div>
    </div>
}
@if (PageIndex == 1)
{
    <div class="row">
        <div class="col-6">
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Havi_only.Alias_info />
        </div>
        <div class="col-6">

            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Supplier_information />
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Article_information />
        </div>
    </div>
}
@if (PageIndex == 2)
{ 
    <div class="row">
        <div class="col-6">
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Havi_only.Pick_storage />
        </div>
        <div class="col-6">
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Supplier_information />
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Article_information />
        </div>
    </div>
}

<button class="btn green-button" @onclick="PageCount">Next</button>

@code{
    private int PageIndex = 0;

    void PageCount()
    {
        PageIndex++;
    }
}