<div style="@Internal_info row">
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Havi_only.Internal_info />
    </div>
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Supplier_information />
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Article_information />
    </div>
</div>
<div style="@Alias row">
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Havi_only.Internal_info />
    </div>
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Supplier_information />
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Article_information />
    </div>
</div>
<div style="@Pick_storage row">
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Havi_only.Internal_info />
    </div>
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Supplier_information />
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Article_information />
    </div>
</div>

<button class="btn green-button" @onclick="@RemovePanel">Next</button>

@code{
    string Internal_info { get; set; }
    string Alias { get; set; }
    string Pick_storage { get; set; }

    protected void PanelDisplay()
    {
        
    }

    private void RemovePanel()
    {
        Internal_info = "display: none";
        Alias = "display: inline";
    }
}