<div class="@Internal_info row">
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Havi_only.Internal_info />
    </div>
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Supplier_information />
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Article_information />
    </div>
</div>
<div class="@Alias row">
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Havi_only.Internal_info />
    </div>
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Supplier_information />
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Article_information />
    </div>
</div>
<div class="@Pick_storage row">
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Havi_only.Internal_info />
    </div>
    <div class="col-6">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Supplier_information />
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Article_information />
    </div>
</div>

<button class="btn green-button" @onclick="@RemovePanel">Next</button>

@code{
    string Internal_info { get; set; }
    string Alias { get; set; }
    string Pick_storage { get; set; }

    protected void PanelDisplay()
    {
        Internal_info = "Havi-only-none";
        Alias = "Havi-only-none";
        Pick_storage = "Havi-only-none";
    }

    private void RemovePanel()
    {
        int PageIndex = 0;
        if (PageIndex == 0)
        {
            Internal_info = "Havi-only-display";

        }
        if(PageIndex == 1)
        {
            Alias = "Havi-only-display";
        }
        PageIndex++;
    }
}