<h2>Describe the error:</h2>

<table class="table table-borderless">
    <tr>
        <td><label for="found_in">Found in field:</label></td>
        <td><input type="text" name="found_in" class="form-control" /></td>
    </tr>
    <tr>
        <td><label for="description">Describe error:</label></td>
        <td><textarea class="form-control" name="description" placeholder="Describe the error..."></textarea></td>
    </tr>
    <tr>
        <td><label for="found_by">Found by:</label></td>
        <td><input name="found_by" class="form-control" type="text" /></td>
    </tr>
</table>
    <div class="row country-buttons">
        <div class="col-6 d-flex justify-content-center">
            <NavLink class="nav-link button-save" href="overview_admin">
                <button class="btn green-button" aria-hidden="true">Report error</button>
            </NavLink>
        </div>
    </div>
