
    <div class="row">
        <div class="col-6">
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Supplier_information Id="ArticleId" />
        </div>
        <div class="col-6">
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Shipment_information Id="ArticleId" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Article_information Id="ArticleId" />
        </div>
        <div class="col-6">
            <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Measurement_information Id="ArticleId" />
        </div>
    </div>

    <div class="row">
        <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Price_information Id="ArticleId" />
    </div>

    @code {
        [Parameter]
        public int ArticleId { get; set; }
    }