@layout HAVI_app.Shared.Admin_layout.Profile_admin

@page "/profile_admin"

<style>
    body {
        background-color: #a54e8b;
    }
</style>

<div class="card" style="width: 1100px; height: 500px; ">
    <div class="card-body">
        <HAVI_app.Shared.Shared_layout.Logo_image />
        <br><br><br><br>
        <h3 class="card-title">Profile:</h3>
        <p class="card-text1">Username:
            <input type="text" class="username-text" id="username" name="username" value="admin@havi.com" readonly="readonly"></p>
        <br>
        <p class="card-text2">Password:
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Change password</button>
        </p>

        
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    
                    <div class="modal-header">
                        <h4 class="modal-title">Change password</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                Current password:
                            </div>
                            <div class="col-4">
                                <input type="text" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                New password:
                            </div>
                            <div class="col-4">
                                <input type="text" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                Confirm password:
                            </div>
                            <div class="col-4">
                                <input type="text" />
                            </div>
                        </div>
                    </div>

                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>            
        <br />
            <div class="row justify-content-center">
                <div class="text-right col-6">
                    <NavLink class="nav-link" href="overview_admin">
                        <button class="btn cancel-button">Cancel</button>
                    </NavLink>
                </div>
                <div class="text-left col-6">
                    <NavLink class="nav-link" href="overview_admin">
                        <button class="btn green-button">Save</button> 
                    </NavLink>
                </div>
            </div>
        </div>
</div>

@code {

}
