@page "/overview_purchaser"

<div class="row form-content">
<div class="col-12">
    <h1>Supplier information:</h1>
    <p>Fill out information about your own company.</p>
</div>
</div>
<div class="justify-content-center row">
    <div class="col-12">
        <form>
            <table class="table">
                <tr>
                    <td>
                        <label for="company_name" class="required">Company name:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="company_name" required>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the name of your company
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="company_location" class="required">Company location:</label>
                    </td>
                    <td>
                        <select class="form-control" name="company_location">
                            <option disabled selected>-- select an option --</option>
                            <option>Denmark</option>
                            <option>Sweden</option>
                            <option>China</option>
                        </select>
                        <!--<div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle">
                                Pick something
                            </button>
                            <div class="dropdown-content dropdown-menu-lg-right">
                                <button class="dropdown-item" type="button">Denmark</button>
                                <button class="dropdown-item" type="button">Sweden</button>
                                <button class="dropdown-item" type="button">China</button>
                            </div>
                        </div>-->
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the homeland of where your company reside
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="email" class="required">Email:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="email">
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the email of the person in the company that HAVI may contact
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="pallet_exchange" class="required">Pallet exchange</label>
                    </td>
                    <td>
                        <input type="radio" name="pallet_exchange" id="yes" value="yes">
                        <label for="yes">Yes</label>
                        &nbsp;
                        <input type="radio" id="no" name="pallet_exchange">
                        <label for="no">No</label>
                    </td>
                    <td>

                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Whether you would like to exchange pallets with HAVI upon delivering the article
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="freight_responsibility" class="required">Freight responsibility</label>
                    </td>
                    <td>
                        <input type="radio" name="freight_responsibility" id="CIP" value="CIP">
                        <label for="CIP">CIP</label>
                        &nbsp;
                        <input type="radio" id="EXW" name="freight_responsibility">
                        <label for="EXW">EXW</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            With CIP you pay for the freight and insurance during transit.
                            With EXW you are only required to ready the article for pick up.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="special_info" class="required">Special information regarding the article or cooperation?</label>
                        <textarea class="form-control" name="special_info"></textarea>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_right>
                            If the article needs to be treated with special care or is delivered under special circumstances please note these.
                        </HAVI_app.Shared.Shared_layout.Questionmark_right>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="transport" class="required">Are you in charge of booking transport?</label>
                    </td>

                    <td>
                        <input type="radio" name="transport" id="yes" value="yes">
                        <label for="yes">Yes</label>
                        &nbsp;
                        <input type="radio" id="no" name="transport">
                        <label for="no">No</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            If your company is the one in charge of transport, pick yes.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="dangerous" class="required">Is the article classified as dangerous good (ADR)?</label>
                    </td>

                    <td>
                        <input type="radio" name="dangerous" id="yes" value="yes">
                        <label for="yes">Yes</label>
                        &nbsp;
                        <input type="radio" id="no" name="dangerous">
                        <label for="no">No</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            You can check whether the article is classified as dangerous good on the following link: https://www.tnt.com/express/en_dk/si
                            te/how-to/find-dangerous-goods.html
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

            </table>
        </form>
    </div>
</div>

<div class="col-12">
    <h1>Measurement information:</h1>
    <p>Fill out information regarding your package measurements</p>

    <div class="justify-content-center row">
        <div class="col-12">
            <form>
                <table class="table">

                    <tr>
                        <td>
                            <label for="length" class="required">Length pr. salesunit:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="Length" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="length">Cm</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                The length of your salesunit written with numbers.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="width" class="required">Width pr. salesunit:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="width" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="width">Cm</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                The width of your salesunit written with numbers.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="height" class="required">Height pr. salesunit:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="height" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="height">Cm</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                The height of your salesunit written with numbers.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="net_weight" class="required">Net weight pr. salesunit:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="net_weight" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="net_weight">Kg</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                The weight without the packaging of the salesunit.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="gross_weight" class="required">Gross weight pr. salesunit:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="gross_weight" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="gross_weight">Kg</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                The weight with the packaging of the salesunit.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                </table>
            </form>
        </div>
    </div>
</div>

<div class="col-12">
    <h1>Price information:</h1>
    <p>Fill out information regarding the article price:</p>

    <div class="justify-content-center row">
        <div class="col-12">
            <form>
                <table class="table">

                    <tr>
                        <td>
                            <label for="set_currency" class="required">Set currency:</label>
                        </td>
                        <td>
                            <select class="form-control" name="set_currency">
                                <option disabled selected>-- select an option --</option>
                                <option>ADP</option>
                                <option>DKK</option>
                                <option>USD</option>
                            </select>
                            <!--<div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle">
                                    Pick something
                                </button>
                                <div class="dropdown-content dropdown-menu-lg-right">
                                    <button class="dropdown-item" type="button">ADP</button>
                                    <button class="dropdown-item" type="button">DKK</button>
                                    <button class="dropdown-item" type="button">USD</button>
                                </div>
                            </div>-->
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Choose your favored currency.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="purchase_price" class="required">Purchase price:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="purchase_price" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Insert the price for the article you and HAVI has agreed upon
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="other_cost" class="required">Other cost regarding article?</label>
                        </td>

                        <td>
                            <input type="radio" name="organic" id="yes" value="yes">
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" id="no" name="organic">
                            <label for="no">No</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                If theres any other information about the article regarding price, pick yes.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>


                </table>
            </form>
        </div>
    </div>
</div>

<div class="col-12">
    <h1>Article information:</h1>
    <p>Fill out information regarding the article:</p>

    <div class="justify-content-center row">
        <div class="col-12">
            <form>
                <table class="table">

                    <tr>
                        <td>
                            <label for="article_name" class="required">Article name:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="a_name" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the name of the article.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="sales_unit" class="required">Salesunit:</label>
                        </td>
                        <td>
                            <select class="form-control" name="salesunit">
                                <option disabled selected>-- select an option --</option>
                                <option>Ark // 225</option>
                                <option>Bag in box // 204</option>
                                <option>Bakke // 374</option>
                            </select>
                            <!--<div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle">
                                    Pick something
                                </button>
                                <div class="dropdown-content dropdown-menu-lg-right">
                                    <button class="dropdown-item" type="button">Ark // 225</button>
                                    <button class="dropdown-item" type="button">Bag in box // 204</button>
                                    <button class="dropdown-item" type="button">Bakke // 374</button>
                                </div>
                            </div>-->
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the unit in which the article is delivered.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="article_pr_salesunit" class="required">Article pr. salesunit:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="salesunit_quantity" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter how many articles are delivered pr. unit.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="supplier_article_nn" class="required">Supplier article number/name:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="article_number_name" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter your own reference number.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="GTIN" class="required">GTIN number:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="GTIN" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter 14 characters, if less than 14, place 0´s infront.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="Shelflife" class="required">Shelife:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="Shelflife" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="Shelflife">Days</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter expiration time for the article in days.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="Min_shelflife" class="required">Min. Shelflife at HAVI:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="Min_shelflife" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="Min_shelflife">Days</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the least amount of days that HAVI should have the article.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="Organic_article" class="required">Organic article?</label>
                        </td>

                        <td>
                            <input type="radio" name="organic" id="yes" value="yes">
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" id="no" name="organic">
                            <label for="no">No</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter whether the article is organic or not.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>


                </table>
            </form>
        </div>
    </div>
</div>

<div class="justify-content-center row">
        <div class="col-12">
            <form>
                <table class="table">

                    <tr>
                        <td>
                            <label for="carton_pr_pallet" class="required">Cartons pr. pallet:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="carton_pr_pallet" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the amount of carton units one pallet can have.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="carton_pr_layer" class="required">Cartons pr. layer:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="carton_pr_layer" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the amount of carton units pr. layer.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="country_origin" class="required">Country of origin:</label>
                        </td>
                        <td>
                            <select class="form-control" name="county_origin">
                                <option disabled selected>-- select an option --</option>
                                <option>Denmark</option>
                                <option>Sweden</option>
                                <option>China</option>
                            </select>
                            <!--<div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle">
                                    Pick something
                                </button>
                                <div class="dropdown-content dropdown-menu-lg-right">
                                    <button class="dropdown-item" type="button">France // FR // 001</button>
                                    <button class="dropdown-item" type="button">Denmark // DK // 008</button>
                                    <button class="dropdown-item" type="button">Sweden // SE // 030</button>
                                </div>
                            </div>-->
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Select where the article was manufactured.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="imported_from" class="required">Imported from:</label>
                        </td>
                        <td>
                            <select class="form-control" name="imported_from">
                                <option disabled selected>-- select an option --</option>
                                <option>Denmark</option>
                                <option>Sweden</option>
                                <option>China</option>
                            </select>
                            <!--<div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle">
                                    Pick something
                                </button>
                                <div class="dropdown-content dropdown-menu-lg-right">
                                    <button class="dropdown-item" type="button">France</button>
                                    <button class="dropdown-item" type="button">Denmark</button>
                                    <button class="dropdown-item" type="button">Sweden</button>
                                </div>
                            </div>-->
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Select where the product is shipped from.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="toll_tarrif_no" class="required">Toll-tarrif no:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="toll_tarrif_no" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                If you do not know what this is, click here:
                                https://skat.dk/skat.aspx?oid=2247456
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="minimum_order_quantity" class="required">Minimum order quantity:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="minimum_order_quantity" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter minimum amount of units to order.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>
                </table>

                <table class="table">

                    <tr>
                        <td>
                            <label for="temprature_during_transportation" class="required">Temprature during transportation:</label>
                        </td>
                        <td>
                            <label class="center-for-units" for="min">Min:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="min" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="degrees">&#8451;</label>
                        </td>
                        <td>
                            <label class="center-for-units" for="max">Max:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="max" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter minimum and maximum temprature during transport.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="temprature_storage" class="required">Storage temprature requirements:</label>
                        </td>
                        <td>
                            <label class="center-for-units" for="min">Min:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="min" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="degrees">&#8451;</label>
                        </td>
                        <td>
                            <label class="center-for-units" for="max">Max:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="max" required>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                ?
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>
                </table>

                <table class="table">
                    <tr>
                        <td>
                            <label for="lead_time" class="required">Lead-time:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="lead_time" required>
                        </td>
                        <td>
                            <label class="center-for-units" for="lead_time">Days</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the amount of time in days from order initiation until it is delivered.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>