@page "/overview_purchaserggg"
    <div class="row form-content">
        <div class="col-12">
            <h1>Error description:</h1>
            <p>Fix error's seen on this page</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Found in field:</td>
                        <td> Country of origin </td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td> <input type="text" class="form-control" id="Description of error" value="Description of error" required> </td>
                    </tr>
                    <tr>
                        <td>Found by: </td>
                        <td> Kristoffer.sørensen@havi.com </td>
                    </tr>
                    
                </tbody>
            </table>
            
            <div class="row justify-content-center">
    <div class="text-right col-6">
        <NavLink class="nav-link" href="/overview_purchaser"><button class="btn cancel-button">Fixed error</button></NavLink>
    </div>
</div>
        </div>
    </div>
