@layout HAVI_app.Shared.Supplier_Layout.Overview_layout
@inject NavigationManager NavigationManager 
@page "/Overview_purchaser"


<HAVI_app.Shared.Supplier_layout.Form_header SupplierState="active" />
<div class="row form-content">
<div class="col-12">
    <h1>Supplier information:</h1>
    <p>Fill out information about your own company.</p>
</div>
</div>
<div class="justify-content-center row">
    <div class="col-12">
        <form>
            <table class="table">
                <tr>
                    <td>
                        <label for="company_name" class="required">Company name:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="company_name" required>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the name of your company
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="company_location" class="required">Company location:</label>
                    </td>
                    <td>
                        <select class="form-control" name="company_location">
                            <option disabled selected>-- select an option --</option>
                            <option>Denmark</option>
                            <option>Sweden</option>
                            <option>China</option>
                        </select>
                        <!--<div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle">
                                Pick something
                            </button>
                            <div class="dropdown-content dropdown-menu-lg-right">
                                <button class="dropdown-item" type="button">Denmark</button>
                                <button class="dropdown-item" type="button">Sweden</button>
                                <button class="dropdown-item" type="button">China</button>
                            </div>
                        </div>-->
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the homeland of where your company reside
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="email" class="required">Email:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="email">
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the email of the person in the company that HAVI may contact
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="pallet_exchange" class="required">Pallet exchange</label>
                    </td>
                    <td>
                        <input type="radio" name="pallet_exchange" id="yes" value="yes">
                        <label for="yes">Yes</label>
                        &nbsp;
                        <input type="radio" id="no" name="pallet_exchange">
                        <label for="no">No</label>
                    </td>
                    <td>

                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Whether you would like to exchange pallets with HAVI upon delivering the article
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="freight_responsibility" class="required">Freight responsibility</label>
                    </td>
                    <td>
                        <input type="radio" name="freight_responsibility" id="CIP" value="CIP">
                        <label for="CIP">CIP</label>
                        &nbsp;
                        <input type="radio" id="EXW" name="freight_responsibility">
                        <label for="EXW">EXW</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            With CIP you pay for the freight and insurance during transit.
                            With EXW you are only required to ready the article for pick up.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="special_info" class="required">Special information regarding the article or cooperation?</label>
                        <textarea class="form-control" name="special_info"></textarea>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_right>
                            If the article needs to be treated with special care or is delivered under special circumstances please note these.
                        </HAVI_app.Shared.Shared_layout.Questionmark_right>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="transport" class="required">Are you in charge of booking transport?</label>
                    </td>

                    <td>
                        <input type="radio" name="transport" id="yes" value="yes">
                        <label for="yes">Yes</label>
                        &nbsp;
                        <input type="radio" id="no" name="transport">
                        <label for="no">No</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            If your company is the one in charge of transport, pick yes.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="dangerous" class="required">Is the article classified as dangerous good (ADR)?</label>
                    </td>

                    <td>
                        <input type="radio" name="dangerous" id="yes" value="yes">
                        <label for="yes">Yes</label>
                        &nbsp;
                        <input type="radio" id="no" name="dangerous">
                        <label for="no">No</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            You can check whether the article is classified as dangerous good on the following link: https://www.tnt.com/express/en_dk/si
                            te/how-to/find-dangerous-goods.html
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

            </table>
            <div class="row justify-content-center">
                <div class="text-right col-6">
                    <NavLink class="nav-link" href="/overview_supplier"><button class="btn cancel-button">Back</button></NavLink>
                </div>
                <div class="text-left col-6">
                    <NavLink class="nav-link" href="/article_info_form"><button class="btn green-button">Next</button></NavLink>
                </div>
            </div>
        </form>
    </div>
</div>

                <tbody>
                    <h3> Mesurement info</h3>
                    <tr>
                        <td>Length</td>
                        <td> 140596 </td>
                    </tr>
                    <tr>
                        <td>Width :</td>
                        <td> <input type="text" class="form-control" id="Shelf store value" value="Shelf Store value" required> </td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td> 140596 </td>
                    </tr>
                    <tr>
                        <td>Net weight</td>
                        <td> <input type="text" class="form-control" id="Remain shelf store value" value="Remain shelf store value" required> </td>
                    </tr>
                    <tr>
                        <td>Gross weight</td>
                        <td> 140596 </td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>