@page "/article_completed_view"
<div class="col-12">
    <div class="row">
        <div class="col-10">
            <h1>Havi internal information:</h1>
        </div>
        <div class="col-2">
            <button>Add article</button>
        </div>
    </div>
    <div class="row justify-content-center">
            <div class="col-8">
                <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Company code:</td>
                                <td> 140596 </td>
                            </tr>
                            <tr>
                                <td>Supplier ID:</td>
                                <td> <input type="text" class="form-control" id="Shelf store value" value="Shelf Store value" required> </td>
                            </tr>
                            <tr>
                                <td>Supplier delivery unit:</td>
                                <td> 140596 </td>
                            </tr>
                            <tr>
                                <td>Remain shelf store value:</td>
                                <td> <input type="text" class="form-control" id="Remain shelf store value" value="Remain shelf store value" required> </td>
                            </tr>
                            <tr>
                                <td>ILOS orderpickupgroup:</td>
                                <td> 140596 </td>
                            </tr>
                            <tr>
                                <td>ILOS temp groups:</td>
                                <td> 140596 </td>
                            </tr>
                            <tr>
                                <td>New ILOS article number:</td>
                                <td> <input type="text" class="form-control" id="New ILOS article number:" value="5533" required> </td>
                            </tr>
                            <tr>
                                <td>Reference ILOS number:</td>
                                <td> <input type="text" class="form-control" id="New ILOS article number:" value="5533" required> </td>
                            </tr>
                            <tr>
                                <td>Reference SAP from material number:</td>
                                <td> <input type="text" class="form-control" id="Reference SAP from material number:" value="Reference SAP from material number:" required> </td>
                            </tr>
                            <tr>
                                <td>ILOS category/account:</td>
                                <td> 140596 </td>
                            </tr>
                            <tr>
                                <td>VAT/TAX code:</td>
                                <td> <label class="container">
                                        Full Tax 25% // 01
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                 </td>
                            </tr>
                            <tr>
                                <td>Department ID:</td>
                                <td> 140596 </td>
                            </tr>
                            <tr>
                                <td>Innerpacking ID:</td>
                                <td> <label class="container">
                                        1/10
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label> </td>
                            </tr>
                            <tr>
                                <td>Text purchase number:</td>
                                <td> <input type="text" class="form-control" id="Text purchase number" value="Text purchase number" required> </td>
                            </tr>
                            <tr>
                                <td>Register shelflife:</td>

                                <td>
                                    <label class="container">
                                        Yes
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>

                                    <label class="container">
                                        No
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>Classification code:</td>
                                <td> <input type="text" class="form-control" id="Classification code" value="Classification code" required> </td>
                            </tr>
                            <tr>
                                <td>Packaging group:</td>
                                <td> 140596 </td>
                            </tr>

                        </tbody>
                </table>
            </div>
        </div>
    </div>