@layout HAVI_app.Shared.Purchaser_layout.Overview_layout_purchaser
@inject NavigationManager NavigationManager
@page "/overview_purchaser"

<ul class="nav nav-tabs" id="myTabJust" role="tablist">
    <li class="nav-item">
        <a class="nav-link active navtabs-background" id="HAVI-tab-just" data-toggle="tab" href="#HAVI-just" role="tab" aria-controls="HAVI-just"
           aria-selected="true"><small class="nav-text">Supplier View</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link navtabs-background" id="Supplier-tab-just" data-toggle="tab" href="#Supplier-just" role="tab" aria-controls="Supplier-just"
           aria-selected="false"><small class="nav-text">HAVI View</small></a>
    </li>
</ul>
<div class="tab-content background-tabs" id="myTabContentJust">
    <div class="tab-pane fade show active" id="HAVI-just" role="tabpanel" aria-labelledby="HAVI-tab-just">
        <HAVI_app.Shared.Purchaser_layout.Overview_table_supplier_purchaser />
    </div>
    <div class="tab-pane fade" id="Supplier-just" role="tabpanel" aria-labelledby="Supplier-tab-just">
        <HAVI_app.Shared.Purchaser_layout.Overview_table_havi_purchaser />
    </div>
</div>