@page "/profile_purchaser"
@inject NavigationManager NavigationManager

<HAVI_app.Shared.Shared_layout.Backgrounds.Purple_background />

<div class="row align-content-center">
    <div class="col-1"></div>
    <div class="col-10 white-box header">
        <div class="row">
            <HAVI_app.Shared.Shared_layout.Logo_image />
        </div>
        <div class="row heading-profile">
            <div class="col-12">
                <h4>Profile</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <form>
                    <table class="table table-font">
                        <tr>
                            <td>
                                <label>Username:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" value="purchaser@@havi.com" />
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Password:</label>
                            </td>
                            <td class="text-right">
                                <a href="#" data-toggle="modal" data-target="#changePassword">Change password</a>
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="text-right col-6">
                            <input type="submit" class="btn cancel-button button-size" value="Back" @onclick="BackToOverview">
                        </div>
                        <div class="text-left col-6">
                            <input type="submit" class="btn green-button button-size" value="Save" @onclick="BackToOverview">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Form for changing your password. Only appears when link is toggeled -->
<div class=" modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close close-password" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <table class="table-font table col-12">
                        <tr>
                            <td class="">
                                <label for="current-password">Input current Password:</label>
                            </td>
                            <td class="">
                                <input type="password" class="form-control" id="current-password" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="new-password">Input new Password:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="new-password" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="confirm-new-password">Confirm new password:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="confirm-new-password" required>
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>
                </form>
                <div class="row justify-content-center">
                    <button type="button" class="save-password btn button-size" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private void BackToOverview()
    {
        NavigationManager.NavigateTo("/overview_purchaser", true);
    }
}