@page "/alias"
@layout HAVI_app.Shared.Admin_layout.Show_artikel_layout

        <h3>Alias</h3>
        <div class="col-12">
            <form>
                <table class="table">
                    <tr>
                        <td>
                            <label for="insert_EAN_in_SAP" class="required">Insert EAN in SAP?:</label>
                        </td>
                        <td>
                            <input type="radio" name="insert_EAN_in_SAP" id="yes" value="yes">
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" id="no" name="insert_EAN_in_SAP">
                            <label for="no">No</label>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Checking this wil decide if EAN number is entered to SAP
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="insert_GRIN_in_SAP" class="required">Insert GRIN in SAP?:</label>
                        </td>
                        <td>
                            <input type="radio" name="insert_GRIN_in_SAP" id="yes" value="yes">
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" id="no" name="insert_GRIN_in_SAP">
                            <label for="no">No</label>
                        </td>
                        <td>

                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Checking this wil decide if EAN number is entered to SAP
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="insert_BOS_in_SAP" class="required">Insert BOS in SAP?:</label>
                        </td>
                        <td>
                            <input type="radio" name="insert_BOS_in_SAP" id="yes" value="yes">
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" id="no" name="insert_BOS_in_SAP">
                            <label for="no">No</label>
                        </td>
                        <td>

                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Checking this wil decide if EAN number is entered to SAP
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="EAN number:" class="required">EAN number:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="EAN number">
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the correct EAN number for the product.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="GRIN number:" class="required">GRIN number:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="GRIN number">
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the correct EAN number for the product.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="BOS number:" class="required">BOS number:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="BOS number">
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the correct EAN number for the product.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="GTIN number:" class="required">GTIN number:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="GTIN number">
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the correct EAN number for the product.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="LRIN number:" class="required">LRIN number:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="LRIN number">
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the correct EAN number for the product.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="SPRN number:" class="required">SPRN number:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="SPRN number">
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the correct EAN number for the product.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="CARLA number:" class="required">CARLA number:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="CARLA number">
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Enter the correct EAN number for the product.
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>
                        </td>
                    </tr>                        
                </table>
            </form>
                <HAVI_app.Shared.Shared_layout.HAVI_tabpages.Supplier_info.Article_information />
        </div>

@code {

}
