@page "/qip_info"
@layout HAVI_app.Shared.Admin_layout.Show_artikel_layout

       
<table class="table table-bordered">
    <thead>
        <tr class="blue-tabel-header">
            <th>QIP number and name:</th>
            <th>QIP description</th>
            <th>Answer<br>options:</th>
            <th>Set<br>answer:</th>
            <th >OK <br>value:</th>
            <th >Low <br>boundary:</th>
            <th >High<br>boundary:</th>
            <th >Frequency <br>type:</th>
            <th >Frequency:</th>
        </tr>
    </thead>
    <tbody style="background-color: white">
        <tr>
            <td>
                <select class="form-control">
                    <option>assd</option>
                    <option>gdoksmf</option>
                    <option>123</option>
                </select>
            </td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
        </tr>
        <tr>
            <td>
                <select class="form-control">
                    <option>assd</option>
                    <option>gdoksmf</option>
                    <option>123</option>
                </select>
            </td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
        </tr>
        <tr>
            <td>
                <select class="form-control">
                    <option>assd</option>
                    <option>gdoksmf</option>
                    <option>123</option>
                </select>
            </td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
        </tr>
        <tr>
            <td>
                <select class="form-control">
                    <option>assd</option>
                    <option>gdoksmf</option>
                    <option>123</option>
                </select>
            </td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
        </tr>
        <tr>
            <td>
                <select class="form-control">
                    <option>assd</option>
                    <option>gdoksmf</option>
                    <option>123</option>
                </select>
            </td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
        </tr>
        <tr>
            <td>
                <select class="form-control">
                    <option>assd</option>
                    <option>gdoksmf</option>
                    <option>123</option>
                </select>
            </td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
        </tr>
        <tr>
            <td>
                <select class="form-control">
                    <option>assd</option>
                    <option>gdoksmf</option>
                    <option>123</option>
                </select>
            </td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
        </tr>
        <tr>
            <td>
                <select class="form-control">
                    <option>assd</option>
                    <option>gdoksmf</option>
                    <option>123</option>
                </select>
            </td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
        </tr>
        <tr>
            <td>
                <select class="form-control">
                    <option>assd</option>
                    <option>gdoksmf</option>
                    <option>123</option>
                </select>
            </td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
        </tr>
        <tr>
            <td>
                <select class="form-control">
                    <option>assd</option>
                    <option>gdoksmf</option>
                    <option>123</option>
                </select>
            </td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
            <td contenteditable></td>
        </tr>
    </tbody>
</table>

@code {

}
