@inject NavigationManager NavigationManager
@inject HAVI_app.Services.Classes.SupplierService SupplierService
@inject HAVI_app.Services.Classes.LocationService LocationService
@inject HAVI_app.Services.Classes.FreightResponsibilityService FreightResponsibilityService
@inject HAVI_app.Services.Classes.CreationCodeService CreationCodeService

<div class="col-12 user-login">
    <div class="row justify-content-center">
        <div class="col-12 user-login-header">
            <h5>Create new supplier user:</h5>
        </div>
    </div>
    <form>
        <div class="row justify-content-center">
            <div class="col-10">
                <table class="table table-borderless">
                    <tr class="form-group">
                        <td>
                            <label>Creation code from HAVI:</label>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="creation_code" required @bind="CreationCode" />
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label>Email:</label>
                        </td>
                        <td>
                            <input class="form-control" type="email" name="email_username" required @bind="Email" />
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label>Company name:</label>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="company_name" required @bind="CompanyName" />
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label>Company location:</label>
                        </td>
                        <td>
                            <select class="form-control" name="company_location" @bind="@CompanyLocation" required>
                                <option disabled selected>-- select one --</option>
                                @foreach (var item in Locations)
                                {
                                    <option>@item.Country</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label>Pallet exchange:</label>
                        </td>
                        <td>
                            <div class="row form-group">
                                <div class="col-1"></div>
                                <div class="col-4">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="pallet_exchange" required @onclick="( () => YesRadioPalletExchange = 1)" />
                                        Yes
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="pallet_exchange" required @onclick="( () => YesRadioPalletExchange = 0)"/>
                                        No
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                Whether you would like to exchange pallets with HAVI upon delivering the article
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label>Freight responsibility:</label>
                        </td>
                        <td>
                            <div class="row justify-content-center">
                                <select class="form-control" name="salesunit" @bind="@Freight" required>
                                    <option disabled selected>-- select one --</option>
                                    @foreach (FreightResponsibility item in Freights)
                                    {
                                        <option>@item.Responsibility</option>
                                    }
                                </select>
                            </div>
                        </td>
                        <td>
                            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                                With CIP you pay for the freight and insurance during transit. With EXW you are only required to ready the article for pick up
                            </HAVI_app.Shared.Shared_layout.Questionmark_top>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label>Password:</label>
                        </td>
                        <td>
                            <input class="form-control" type="password" name="password" required @bind="Password1" />
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label>Confirm password:</label>
                        </td>
                        <td>
                            <input class="form-control" type="password" name="confirm_password" required @bind="Password2" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2 justify-content-center">
                <input class="btn green-button" type="button" name="Submit" value="Sign up" @onclick="CreateNewSupplier" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                @CodeError
            </div>
        </div>
    </form>
</div>

@code {
    public string CodeError { get; set; }

    public string CreationCode { get; set; } = "";

    public string Email { get; set; } = "";

    public string CompanyName { get; set; } = "";

    public string CompanyLocation { get; set; }

    public int YesRadioPalletExchange { get; set; } = 2;

    public string Freight { get; set; }

    public string Password1 { get; set; } = "";

    public string Password2 { get; set; } = "";

    public Supplier supplierObject = new Supplier();

    public List<FreightResponsibility> Freights = new List<FreightResponsibility>();

    public List<Location> Locations = new List<Location>();

    protected override async Task OnInitializedAsync()
    {
        Freights = await FreightResponsibilityService.GetFreightResponsibilities();
        Locations = await LocationService.GetLocations();
    }

    private async void CreateNewSupplier()
    {
        List<CreationCode> codes = await CreationCodeService.GetCreationCodes();
        var code = codes.Find(c => c.Code == CreationCode && c.Active == 1);

        if (code != null && code.Active != 0 && Email != "" && CompanyName != "" && CompanyLocation != null && YesRadioPalletExchange != 2 && Freight != null && Password1 == Password2)
        {
            supplierObject.Profile = new Profile();
            supplierObject.Profile.Username = Email;
            supplierObject.CompanyName = CompanyName;
            supplierObject.CompanyLocation = CompanyLocation;
            supplierObject.PalletExchange = YesRadioPalletExchange == 1 ? 1 : 0;
            supplierObject.FreightResponsibility = Freight;
            supplierObject.Profile.Password = Password1;
            supplierObject.Profile.Usertype = 2;

            if (supplierObject != null)
            {

                code.Active = 0;
                await CreationCodeService.UpdateCreationCode(code.Id, code);
                var user = await SupplierService.CreateSupplier(supplierObject);
                NavigationManager.NavigateTo($"/overview_supplier/{user.Id}", true);
            }
        }
        else if(code.Active == 0 || code == null)
        {
            CodeError = "Your creation code is invalid!";
        }else
        {
            CodeError = "You forgot to fill out some information!";
        }
    }
}