@inject NavigationManager NavigationManager
@inject HAVI_app.Services.Classes.ProfileService ProfileService
@inject HAVI_app.Services.Classes.SupplierService SupplierService

<div class="col-12 user-login">
    <div class="row justify-content-center">
        <div class="col-12 user-login-header">
            <h5>Sign in as supplier:</h5>
        </div>
    </div>
    <form>
        <div class="row justify-content-center">
            <div class="col-7">
                <table class="table table-borderless">
                    <tr class="form-group">
                        <td>
                            <label>Email:</label>
                        </td>
                        <td>
                            <input class="form-control" type="email" name="supplier_username" @bind="Username" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Password:</label>
                        </td>
                        <td>
                            <input class="form-control" type="password" name="supplier_password" @bind="Password" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2 justify-content-center">
                <input class="btn green-button" type="button" name="Submit" value="Sign in" @onclick="LogUsername" />
            </div>
        </div>
    </form>
    <div class="text-center">
        <p>@_authMessage</p>
    </div>
</div>

@code {
    public string Username { get; set; }

    public string Password { get; set; }

    private string _authMessage;

    private async Task LogUsername()
    {
        if(Username != null && Password != null)
        {
            var user = await ProfileService.GetProfileByUsernameAndpassword(Username, Password);

            if (user != (new Profile()) && user.Usertype == 2 && user.Password == Password)
            {
                Supplier supplier = await SupplierService.GetSupplierWithProfile(user.Id);
                NavigationManager.NavigateTo($"/overview_supplier/{supplier.Id}", true);
            }
            else
            {
                _authMessage = "The email or password is incorrect, please try again!";
            }
        }else
        {
            _authMessage = "You forgot to input an email and password";
        }

    }
}